[2020-03-28 10:47] CoMPaTech opened #1 "Add 'Tom' battery level to zone-'Lisa' information"
See https://github.com/bouwew/plugwise/commit/d4f6ab89a01e75865d0517ddb7cb3ecea3e5bfb5

[2020-03-30 10:25] CoMPaTech opened #2 "Smile P1 2.5 values"
Reference: https://github.com/bouwew/smilep1/pull/1 by @lenwar

- [x] - Current power usage - electricity_consumed_peak_point
- [x] - Cumulative power usage (high) - sensor.smile_p1_electricity_consumed_peak_cumulative
- [x] - Cumulative power usage (high) - sensor.smile_p1_net_electricity_cumulative
- [x] - Current power production - sensor.smile_p1_electricity_produced_peak_point (I'm not produc

[2020-03-30 10:25] CoMPaTech commented on #2
I'll have a look at it tonight. The build-up of the v2.5 values is a bit different from the v3's. Not sure why it won't return gas data, I'll have a look at that as well.

[2020-03-30 10:29] CoMPaTech commented on #2
Can you share the output of http://{ip}/core/domain_objects we already have https://github.com/plugwise/Plugwise-Smile/blob/master/tests/smile_p1_v2/core.domain_objects.xml but that includes produced power.

Note that solar or not, the sensors will always be present, just ... they should remain at 0. For gas it should have worked, but lets see whats up if you have the xml.
`Testing gas_consumed_pe

[2020-03-30 14:01] lenwar commented on #2
It doesn't accept .xml, so I zipped it.
[domain_objects.zip](https://github.com/plugwise/plugwise-beta/files/4403291/domain_objects.zip)

[2020-03-30 15:55] CoMPaTech commented on #2
Quickly pushing that through our tests summarizes it OK I think. I see another issue, `off_peak` isn't included.

[code]

I'll have a look at why gas isn't pushed through and what is happening with `off_peak`, the other things look good from the module - but I'll have to verify if it gets to the component correctly.

[2020-03-30 16:58] CoMPaTech commented on #2
First problem tackled ... off peak values included (and things like `net_electricity_point` should just map to the right one when peak switches on your P1

[code]

Now to see where the gas evaporaded to ...

[2020-03-30 17:30] CoMPaTech commented on #2
Hi @lenwar - that's a big whoops from my side, just plain wrong labels between the module and component. Merge coming up

[2020-03-30 17:45] CoMPaTech commented on #2
Hi @lenwar version 0.0.43 should be available within HACS and I sincerely hope it fixes the indicated items.

[2020-03-30 18:00] bouwew commented on #2
@lenwar What is the firmware version of your Smile P1?

[2020-03-30 20:00] lenwar commented on #2
I have firmware 2.5.9 which is the latest for my device. As far as I know.
I'm not getting any devices now in the integration. I completely reinstalled it, but nothing.

30 mrt. 2020 20:00:34 Bouwe Westerdijk <notifications@github.com>:

[2020-03-30 20:01] lenwar commented on #2
I mean entities

30 mrt. 2020 21:59:57 Lennard Warnaar <lennard@renlen.nl>:

[2020-03-30 20:04] CoMPaTech commented on #2
Can you delete the integration and add it again (just go to integrations, click the smile and the delete icon right top ... then add it again)?

[2020-03-30 20:36] lenwar commented on #2
Tried that. Nothing

30 mrt. 2020 22:05:16 Tom <notifications@github.com>:

[2020-03-30 20:46] CoMPaTech commented on #2
Weird, it should be my changes, but I didn't change that much to have this big an impact. Do the logfiles have anything `plugwise` related that provide more info?

[component-diff](https://github.com/plugwise/plugwise-beta/compare/0.0.42...0.0.43)
[module-diff](https://github.com/plugwise/Plugwise-Smile/pull/4/files) only top file shown is relevant (rest is testing stuff)

[2020-03-31 07:24] bouwew commented on #2
@lenwar Thanks for letting us know the firmware revision!

About the problem in your system, is there any information regarding the plugwise-component in the HA Developer Tools --> Logs?

[2020-03-31 07:56] lenwar commented on #2
It shows the following:
`Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 179, in _async_setup_platform
    await asyncio.wait_for(asyncio.shield(task), SLOW_SETUP_MAX_WAIT)
  File "/usr/local/lib/python3.7/asyncio/tasks.py", line 442, in wait_for
    return fut.result()
  File "/config/custom_components/plugwise-beta/sensor.py", lin

[2020-03-31 08:07] CoMPaTech commented on #2
That makes sense ... looking into that

[2020-03-31 08:31] CoMPaTech commented on #2
Could you have another run with 0.0.44?

[2020-03-31 08:37] lenwar commented on #2
`Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 179, in _async_setup_platform
    await asyncio.wait_for(asyncio.shield(task), SLOW_SETUP_MAX_WAIT)
  File "/usr/local/lib/python3.7/asyncio/tasks.py", line 442, in wait_for
    return fut.result()
  File "/config/custom_components/plugwise-beta/sensor.py", line 168, in async_setup_en

[2020-03-31 08:57] CoMPaTech commented on #2
Deleted

[2020-03-31 09:02] lenwar commented on #2
0.045:
`Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 179, in _async_setup_platform
    await asyncio.wait_for(asyncio.shield(task), SLOW_SETUP_MAX_WAIT)
  File "/usr/local/lib/python3.7/asyncio/tasks.py", line 442, in wait_for
    return fut.result()
  File "/config/custom_components/plugwise-beta/sensor.py", line 168, in async_s

[2020-03-31 09:06] CoMPaTech commented on #2
`wtfbbq` :)

[2020-03-31 09:20] CoMPaTech commented on #2
Lets try `0.0.46` - apparently today is a bad-code-day day

[2020-03-31 09:25] lenwar commented on #2
Nope :(
`Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 179, in _async_setup_platform
    await asyncio.wait_for(asyncio.shield(task), SLOW_SETUP_MAX_WAIT)
  File "/usr/local/lib/python3.7/asyncio/tasks.py", line 442, in wait_for
    return fut.result()
  File "/config/custom_components/plugwise-beta/sensor.py", line 168, in async_

[2020-03-31 09:34] bouwew commented on #2
Hmm, looks like we need more detailed info.
Do you have a `logger:` entry in your configuration.yaml?

[2020-03-31 09:35] lenwar commented on #2
Not yet. Just let me know what you need

[2020-03-31 09:36] bouwew commented on #2
Can you please add this in confguration.yaml:

[code]

And then restart HA.

[2020-03-31 09:39] bouwew commented on #2
After the restart go to Developer Tools --> Logs and press LOAD FULL HOME ASSISTANT LOG.
There should be several debug- and info-lines related to `plugwise-beta`.
Please copy-paste the relevant lines that are shown just before the error-text.

[2020-03-31 09:42] CoMPaTech commented on #2
What I'm confused about is why it's still erroring on line 168 as the statement is on 170 now. Almost looks like it didn't update. Are you able to view the 'plugwise-beta/sensor.py' file in your HA installment or from command-line around those files?

[2020-03-31 09:44] bouwew commented on #2
@lenwar Did you perform the update-process via HACS?

[2020-03-31 09:46] lenwar commented on #2
@bouwew Yes, and did a restart after that.
After the restart I removed and readded the Integration.

[2020-03-31 09:47] bouwew commented on #2
There is no need to remove and add. Update is sufficient.
Also, do not forget to refresh the HA Logs via the refresh-button after the restart. For some reason HA does not do this automatically any more.

[2020-03-31 09:48] bouwew commented on #2
That could explain the same line-number as the old error-info has not been refreshed.

[2020-03-31 09:48] CoMPaTech commented on #2
Update didn't process, release is broken (just checked the zipfiles)

[2020-03-31 09:51] CoMPaTech commented on #2
Manually checked https://github.com/plugwise/plugwise-beta/releases/tag/0.0.47 zip to have the correct statements .... lets retry

[2020-03-31 10:02] lenwar commented on #2
`Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/Plugwise_Smile/Smile.py", line 253, in request
    resp = await self.websession.get(url, auth=self._auth)
  File "/usr/local/lib/python3.7/site-packages/aiohttp/client.py", line 504, in _request`
    await resp.start(conn)
  File "/usr/local/lib/python3.7/site-packages/aiohttp/client_reqrep.py", line 847, in start

[2020-03-31 10:03] lenwar commented on #2
[output.txt](https://github.com/plugwise/plugwise-beta/files/4408249/output.txt)

[2020-03-31 10:15] bouwew commented on #2
That looks good, is it working now?

[2020-03-31 10:18] bouwew commented on #2
After looking in more detail, I do see one error. But that is a server-disconnect.
The sensors are all there?

[2020-03-31 10:24] lenwar commented on #2
When I posted it, they weren't there, but they are now. (probably was too impatient :) )

It seems I'm only missing my 'low tariff' cumulative counter. The rest is there.

[2020-03-31 10:37] bouwew commented on #2
Ok, thanks, I'll have a look at your XML-data.

[2020-03-31 11:27] bouwew commented on #2
I'm seeing 15 values in the data:
[code]

But only 8 sensor are being created, 7 are missing.

[2020-03-31 11:31] bouwew commented on #2
Just collecting and documenting my thoughts :)

[2020-03-31 11:46] lenwar commented on #2
Not all of them are interesting also like all the 'current' gauges that differentiate between peak and off-peak. Maybe only for statistical reference?

Stuff like:
'electricity_consumed_peak_interval'
'electricity_consumed_off-peak_interval'

As for example the 'current' usage is always
'net_electricity_interval'

Just my two cents :)

[2020-03-31 11:48] bouwew commented on #2
5 are _interval sensors and the other 2 are:
electricity_consumed_off_peak_cumulative
electricity_produced_off_peak_cumulative

[2020-03-31 11:50] CoMPaTech commented on #2
Seeing the same, if we sort them:

[code]

[2020-03-31 12:01] CoMPaTech commented on #2
Looking into the above you should actually be missing out on `off_peak_point`? Which makes sense since the v2.5 doesn't have information on that in the counters. See line 249 vs 218+219 of [v2.5 domain objects](https://github.com/plugwise/Plugwise-Smile/blob/master/tests/smile_p1_v2_2/core.domain_objects.xml)

Both @bouwew and me figured out why `electricity_consumed_off_peak_cumulative` isn't the

[2020-03-31 12:01] lenwar commented on #2
I personally would only care about
(( not entirely sure about the produced peak_point one. It really depends on if that is the 'current' value, as it seems to differ from the consumed ))
`
**"net_electricity_cumulative": 5065885.0,**
"net_electricity_interval": 423.0,
**"net_electricity_point": 675.0,**

**"electricity_consumed_peak_cumulative": 2700752.0,**
"electricity_consumed_peak_interval": 4

[2020-03-31 12:37] CoMPaTech commented on #2
[0.0.48](https://github.com/plugwise/plugwise-beta/releases/tag/0.0.48) should just push through available values. `net_electricity_point` makes calculations to have your actual usage (for v3 users that is peak/offpeak independent and calculates on base of solar difference)

[2020-04-01 15:57] bouwew commented on #2
@lenwar, electricity_produced_peak_point is only of interest when you have solar-panels and these are exporting (panels provide more than the house consumes).

Is everything now working fine for you? All sensors are there, and no errors?

[2020-04-01 17:04] CoMPaTech opened #10 "Anna thermostats with v4 firmware rolling out"
https://community.home-assistant.io/t/advice-how-to-load-sensor-info-from-plugwise-anna-thermostat-web-interface-xml/87801/219?u=compatech

[2020-04-01 17:33] CoMPaTech commented on #10
Waiting for user input, unable to update the 3.1.11 hardware in-house to 4.0 (yet)

[2020-04-01 18:00] bouwew commented on #1
Implemented, kind of, in version 0.0.49.

[2020-04-01 18:00] #1 closed

[2020-04-02 10:07] sanderdw opened #11 "Anna v1.8.20 not working"
As requested by @bouwew (https://github.com/home-assistant/core/issues/28947#issuecomment-607419232) i installed the new plugwise-beta component in my clean home assistant test setup.

Plugwise Anna version: v1.8.20 (so the old version)

**Installing:**
Adding this Repo to HACS went fine and also adding the integration was easy. Maybe you could document it somewhat clearer that you have to add thi

[2020-04-02 10:28] CoMPaTech commented on #11
@sanderdw Those values should be from your water-heater/boiler. Looks like something doesn't match up in our code to add the 'climate' part. (Or better stated, to detect which one is your climate).

We are patching up to 0.0.51 but I don't think that will ensure your climate will be detected (there are minor fixes in there for Anna 1.8, but I don't suppose it will fix this).

[2020-04-02 10:31] bouwew commented on #11
@sanderdw can you show us the errors related to plugwise-beta in Developer Tools --> Logs?

[2020-04-02 10:34] bouwew commented on #11
The temperature reported by the water_heater is the temperature of the water inside your CV-ketel. The water_heater represents the CV-ketel and shows it operating state: idle, heating or hot_water.
Each state also has it's own appropriate icon.

[2020-04-02 11:18] sanderdw commented on #11
Here is a sceenshot of the log:
![image](https://user-images.githubusercontent.com/19476345/78243631-64291180-74e4-11ea-95e2-77d68b6f2b2e.png)

Not much info...

[2020-04-02 11:19] bouwew commented on #11
Ok, no error, thanks.

[2020-04-02 11:37] bouwew commented on #11
The next release should fix the missing climate-entity. Coming soon...

[2020-04-02 11:45] bouwew commented on #11
Graag naar versie 0.0.52 updaten en HA herstarten.

[2020-04-02 12:03] sanderdw commented on #11
Updated and did a fresh intergration again:
![image](https://user-images.githubusercontent.com/19476345/78247015-64c4a680-74ea-11ea-9917-0624ec0c04fa.png)

anna_temperature = 20.09 and anna_thermostat = 20.0 are correct. Not seeing a climate component yet though...

[2020-04-02 12:08] bouwew commented on #11
Can you please enable the logger in configuration.yaml?
[code]
And then restart HA once more?

After the restart go to Developer Tools --> Logs and press the large refresh HA Log below the separation-line.There should be many lines related to plugwise-beta, please show us these.

[2020-04-02 12:19] sanderdw commented on #11
![image](https://user-images.githubusercontent.com/19476345/78248475-fd5c2600-74ec-11ea-8393-37552cf50548.png)

[2020-04-02 12:20] bouwew commented on #11
Great, thanks, this helps.

[2020-04-02 14:58] CoMPaTech commented on #11
Just pushed out 0.0.54 #13 that should fix this

[2020-04-02 15:06] sanderdw commented on #11
![image](https://user-images.githubusercontent.com/19476345/78265074-423f8700-7504-11ea-9a98-23c4b0fd916c.png)

[2020-04-02 15:19] bouwew commented on #11
That is progress!
Yes, I noticed that too, the Anna says heating and the water_heater says hot_water.
What kind of device do you control with the Anna? And is it creating hot water?

[2020-04-02 15:25] sanderdw commented on #11
It's a vaillaint boiler. The 'native' integration is reporting it correctly.

I turned on the heating to see what it shows but it makes no difference.

[2020-04-02 15:28] bouwew commented on #11
Can you please capture the /core/appliances XML-data with heating on and heating off?

[2020-04-02 15:29] bouwew commented on #11
Also, do you see a difference on the Anna when the heating is on versus when hot water is being tapped?

[2020-04-02 15:45] sanderdw commented on #11
Ok so i got the xml files when not heating, using the central heating and also tapping hot water:
[anna_status.zip](https://github.com/plugwise/plugwise-beta/files/4422063/anna_status.zip)

[2020-04-02 15:53] bouwew commented on #11
Thanks!

Looks like domestic_hot_water_state is always on,
central_heating_state is always off,
and boiler_state is on when heating or tapping hot water, otherwise off. So only boiler_state to look at in your system.

[2020-04-02 15:56] bouwew commented on #11
Ah yes, in haanna it reads:
[code]
And we do not do that (yet) in Plugwise-Smile.

[2020-04-02 16:43] bouwew commented on #11
Please try release 0.0.55. Now the heating-result should be the same as the native component.

[2020-04-02 17:20] sanderdw commented on #11
Updated: it still says heating when it's not:
![Screenshot_20200402-191913](https://user-images.githubusercontent.com/19476345/78278856-f518e080-7516-11ea-84be-e9ff1d67b0d5.jpg)

[2020-04-02 17:42] bouwew commented on #11
Ok, good, issue solved :)

About the picture, the flame icon actually means there is no schedule active, it is in standard heating-mode following the setpoint that can be changed manually, from within HA, the Pw App or from the Anna.
If you create a week-schedule in the Plugwise App and activate it there, in HA the schedule-icon would turn green together with the circle, indicating it is in auto-m

[2020-04-02 18:18] sanderdw commented on #11
I'm not sure if I understand you correctly. According to me the active flame should only be there when either the central heating is active or when you are tapping hot water, right?

Wil check the schedule stuff tomorrow, thanks for helping!

[2020-04-02 18:31] CoMPaTech commented on #2
Also very curious to see if everything is (still) working after all the other updates we did today. Nothing really wrt your situation, but still good to know if something above the 0.0.54 mark works for you, just install the latest available :)

[2020-04-02 18:32] CoMPaTech commented on #10
Closing this one as per `0.0.52`

[2020-04-02 18:32] #10 closed

[2020-04-02 18:33] bouwew commented on #11
Incorrect, the orange flame- or the green schedule-icon are always there/on, when selected, because they show the active climate MODE. What you are looking for is the active climate ACTION which is shown via the text (Inactief, etc.). See here for details: https://developers.home-assistant.io/docs/entity_climate/
There can also be a cooling-icon or an off-icon, representing other HVAC-MODES.

Many

[2020-04-03 14:52] bouwew commented on #11
Closing this topic as the issue is solved.

[2020-04-04 11:02] bouwew commented on #2
@lenwar please test our latest beta-release version 0.1.0 or newer.

[2020-04-04 14:01] bouwew opened #20 "Battery-values are not shown in %"
This is what I see:
![image](https://user-images.githubusercontent.com/11290930/78452776-9629a780-768d-11ea-8a6f-52dd1f8f65a1.png)

In the data the value looks like this: `"battery": 1.0`.
It should show 100%.

[2020-04-04 14:06] CoMPaTech commented on #20
True, we live 'm floating, so we should *100 and int them, issue should move to Plugwise-Smile

[2020-04-04 14:41] bouwew commented on #20
Fixed by #21

[2020-04-04 14:41] #20 closed

[2020-04-09 10:04] wburgers opened #28 "water_pressure is not measured in bar"
The water pressure is reported as mbar, which is not the correct unit.
It should be bar.
![image](https://user-images.githubusercontent.com/2129305/78883815-49ade580-7a5a-11ea-89d0-e084d81eaf6c.png)

Or the value should be x1000, that is also fine of course 😛

[2020-04-09 10:54] marcelveldt opened #29 "waterpump and hot water state"
Hi guys, great work with this so far!

While testing I discovered these issues/wishes:

- hvac action attribute of climate entity is always idle. Should be of state heating, cooling or idle.

- no separate sensor for hot water state (domestic hot water in api)

- the water_heater entity has state "heating" if my heatpump is cooling.

- device for the boiler is named after the entity (boiler temper

[2020-04-09 11:27] bouwew commented on #29
Hi Marcel, thanks for contacting us, I remember we worked before on the cooling state for the anna-ha component.
What is the firmware version on your Anna? Already 4.0 or still 3.1?
Also, please share your xml-data with us as described here: https://github.com/plugwise/Plugwise-Smile/tree/master/tests and scroll at little down. Attach a zip-file to a message in this topic please.

Let's start with

[2020-04-09 11:59] marcelveldt commented on #29
Hi @bouwew true, we worked together in the previous component for the cooling stuff. I can help out again but a bit busy atm so filed this report mostly as an observation. Offcourse I'm happy to help out to fix stuff myself if you want.

Anna's firmware is already at 4.0.
I'll collect the xml data and get back to you

[2020-04-09 12:16] marcelveldt commented on #29
[Archief.zip](https://github.com/plugwise/plugwise-beta/files/4456047/Archief.zip)

here's the export of the xml api raw data

[2020-04-09 12:51] bouwew commented on #29
Thanks!

I've had a quick look, I see the known '..._state'-keys: `cooling_state`, `central_heating_state` and `domestic_hot_water_state`. I also see these: `slave_boiler_state` and `compressor_state`.

Now the question is, what do these all show in certain scenario's. Can you please collect xml-data when:
- the system is cooling
- the system is heating from the Elga
- the system is heating and ho

[2020-04-09 12:57] marcelveldt commented on #29
Good thing is that there is a simple test function on the Elga which let me reproduce the various states ;-)

Just an idea: why not add a seperate sensor or water_heater entity to represent the 3 states:

heatpump state (idle, heating, cooling)
heater state: (idle, heating)
domestic hot water (idle, heating)

Offcourse this can also be combined in just 2 heater objects, one for the heatpump (suppo

[2020-04-09 12:59] marcelveldt commented on #29
The slave boiler is the traditional "CV-ketel" btw, connected to the master heater (the elga).
The Elga redirects hot water requests to the slave boiler as well as requests for temperature changes the elga can not efficiently handle itself

[2020-04-09 12:59] wburgers commented on #28
Fixed in #30
Damn you guys work fast!

[2020-04-09 12:59] #28 closed

[2020-04-09 13:05] CoMPaTech commented on #2
@lenwar gentle nudge/reminder :)

[2020-04-09 13:07] CoMPaTech commented on #28
Tnx for the compliments @wburgers - we've started our upstream PR as well so it might be busy next two weeks until HA 0.109 :)

[2020-04-09 13:12] CoMPaTech commented on #29
Initial data return (JSON) from the testrun looks good, it picks up both setpoints

[code]

[2020-04-09 13:16] bouwew commented on #29
Thanks for your ideas!

It should not be sensors as these are supposed to provide a number. I will ask the HA-experts how I am supposed to implement a representation of your system.

One more question: is there a setting on the Plugwise app that you have to set to indicate that there is a cooling function present? And/or, are there 2 set-points on the Anna or on the App? A heating-setpoint and a c

[2020-04-09 13:22] bouwew commented on #29
I see `cooling_activation_outdoor_temperature` set to 21 degrees C. Is this setpoint used to determine whether the heating- or cooling-function must be active?

[2020-04-09 13:22] CoMPaTech commented on #29
Wow, lots of sensors on your setup :) Not sure if it helps, but I also spotted `thermostat_supports_cooling ` and `elga_status_code` (which is 14)

[2020-04-09 20:10] marcelveldt commented on #29
With sensors I mean both binary sensors and numeric (or text) sensors.
I can give you some hints as I'm also working on the new z-wave implementation for hass, together with some of the core devs. A lot is similar. Bottomline it's good to split up stuff into seperate entities as much as you can. As long as you're providing a unique_id for each entity, the user will be able to hide and/or rename th

[2020-04-09 20:12] marcelveldt commented on #29
You ignore those. These come from the low level Elga api.

[2020-04-09 20:22] CoMPaTech commented on #29
I can give you some hints as I'm also working on the new z-wave implementation for hass, together with some of the core devs. A lot is similar. Bottomline it's good to split up stuff into seperate entities as much as you can. As long as you're providing a unique_id for each entity, the user will be able to hide and/or rename the entity.

We can definitely use your help getting this into logic, our

[2020-04-10 07:12] bouwew commented on #29
Great, thanks for your feedback!

The sensors for the various temperatures are already there, that was easy :)

Let's focus our discussion on the various states. To be honest, I have not yet considered using binary sensors as I haven't really been noticing these very much.

Yesterday, I was thinking about an alternative: using the operation_mode and operation_list parameters of the water_heater en

[2020-04-10 09:22] bouwew commented on #29
FYI, I've made a 0.1.15b1 beta release available. The water_heater should show now the cooling_state as well.

[2020-04-10 12:30] bouwew commented on #29
@marcelveldt please try version 0.1.15b3 (in HACS-settings select show-beta).
This update implements what I have described in my post above: the water_heater showing idle, heating or cooling, and the 2 binary_sensors.

[2020-04-13 14:29] marcelveldt commented on #29
Hi guys, sorry for the late reply, was enjoying the nice weather outside.
I will do some testing next days with the new version and report back. I did some quick testing today and it wasn't working as expected but I need to look more carefully.

Please note that:

HVAC_ACTION on the climate component should represent the ACTUAL action the device is performing: idle, cooling or heating while the HV

[2020-04-13 15:00] marcelveldt commented on #29
OK, here the first test results:

**binary sensor for domestic hot water**: works well (only updates a bit slow), it's on when hot water is being tapped (provided by the slave boiler).
**binary sensor for slave boiler state**: works well, it's on when the slave boiler kicks in.

The water_heater entity and the climate entity is another story however. These are not showing the correct states. hvac_

[2020-04-13 15:11] marcelveldt commented on #29
BTW: the devices are still very strange... The devices should be the physical devices, containing entities for all states/functionality. So REAl WORLD devices, not made up ones as that will confuse users.

In my case this is what I get:

- device: anna_boiler_temperature
   I believe this should be a sensor/entity below the physical device for the smile gateway

- device: anna_illuminance
   this

[2020-04-13 15:19] CoMPaTech commented on #29
What I do know is that the plugwise app itself will correctly show the state, it will show an icon for heating, cooling and hot water, same applies for the actual Anna physical thermostat on the wall.

And as you probably are aware we are more bound by what HA requires than what the app allows. So there might be inconsistencies towards the App but core is apprehensive in the good way that all HA t

[2020-04-13 15:45] bouwew commented on #29
Hi Marcel,

Thanks for getting back to us.
Just to be clear, the climate_entity does not support cooling yet, it only supports heating at the moment. I first need input from you, or from somewhere else, on how to determine in what state the Anna has set Elga+CV-ketel combi: in heating-  or cooling-mode (ignoring hot water for now). When I know this I will be able to fix the climate entity.

The wa

[2020-04-13 15:47] CoMPaTech commented on #29
Updated my above comment.

As for the device naming/parenting. It doesn't really seem to matter how/what I try. Removing the `whatever sensor name after the underscore` isn't the issue, but even if I do override that and tell it to put `climate/thermostat` or `sensor` it shows up as all sensors on my HA.

I'll have another look tomorrow @marcelveldt - in the meantime if you can get some sets of XM

[2020-04-13 15:48] bouwew commented on #29
The water_heater state logic is like this:
[code]
All looks OK, but if the states in de XML-data do not behave as I have assumed, this is not working.
So please provide XML-data for various scenario's.

[2020-04-13 15:50] marcelveldt commented on #29
I can help out myself with the devices stuff. Exact thing implemented in some other integrations too.
It's indeed a bit strange to work with.

I will collect the XML data asap and do some more testing. As for the cooling state I think we will have to wait until the outside temperature is above 20 degrees ;-) Looks like the test mode for the cooling function is also not shown on the thermostat itse

[2020-04-13 15:51] CoMPaTech commented on #29
Cool, I'd love a handy sets of pointers (or a cluestick) :)

[2020-04-13 15:52] marcelveldt commented on #29
This is OK. Nitty pitty detail is that in my case the central heater isn't providing the hot water (the slave boiler is) and that 2 actions can be enabled at the same time: e.g. the heatpump is cooling while the slave_boiler is providing hot water. But that's the edge case. The binary sensor is the solution for that.

[2020-04-13 15:59] bouwew commented on #29
Understood.

Back to the climate stuff, is there any setting on the Plugwise App, a temperature-setpoint I guess, that you can set to determine when the cooling should be active?

[2020-04-13 16:06] marcelveldt commented on #29
Well it's a combination of a few factors:

1) A physical button on the Elga to enable cooling mode on the Elga itself.
2) A upper treshold in the Anna settings for the Elga, once this treshold (outside temp) is reached cooling mode is enabled on the Anna.
3) A below treshold in the Anna settings for the Elga, if cooling is enabled and the outside temp falls below this treshold, cooling mode is dis

[2020-04-13 16:07] marcelveldt commented on #29
<img width="1416" alt="Schermafbeelding 2020-04-13 om 18 07 44" src="https://user-images.githubusercontent.com/6389780/79136677-af2f0880-7db1-11ea-817d-6ea637d81976.png">

[2020-04-13 17:08] bouwew commented on #29
Super, thanks!

[2020-04-13 17:35] bouwew commented on #29
I cannot find the lowest 2 numbers anywhere in the XML-data that you sent before.
I probably should try to get this info from Plugwise...

[2020-04-15 06:11] bouwew commented on #29
@marcelveldt we've decided to modify our component like this:
- when there is one master-thermostat: use the climate-hvac_actions to show the status of the heater/cooler-device, and via extra binary_sensors where needed,
- when there are two or more master-thermostats: show the heating-demand in the climate-hvac_actions per master-thermostat, and show the heater-status in binary_sensors/water_heat

[2020-04-16 13:58] marcelveldt commented on #29
Great to hear, sounds like a solid solution you have in mind, best of both worlds.
In the meanwhile I can confirm that cooling is working too!

![Schermafbeelding 2020-04-16 om 15 58 16](https://user-images.githubusercontent.com/6389780/79465011-18558c80-7ffb-11ea-954f-653aac7b0ed9.png)

[2020-04-16 15:33] marcelveldt commented on #29
[anna_cooling.zip](https://github.com/plugwise/plugwise-beta/files/4488228/anna_cooling.zip)

collected the xml data while cooling was active

[2020-04-16 15:43] bouwew commented on #29
Please test version 0.1.19b1 on HACS.
With this version you should no longer have the water_heater.
Instead the hvac_actions should be visible in the climate-entity.

[2020-04-16 15:43] bouwew commented on #29
Now I will look at the new xml-data, thanks!

[2020-04-16 15:47] marcelveldt commented on #29
Great, I'll give it a shot. Will the sensor still be there ? I need to be able to detect when there's a hot water demand and at the same time I control my floorheating valves with the heating/cooling states.
What I mean is that hvac_action should only be heating or cooling (as that is strictly spoken hvac) and a separate binary_sensor for domestic hot water.

[2020-04-16 15:56] marcelveldt commented on #29
In fact, I think it's not a big deal if there's also a water_heater entity when there is only one thermostat if that makes things easier. It's just that hvac_action should represent the current action the device is performing as by hass definitions.

[2020-04-16 16:02] marcelveldt commented on #29
Each thermostat has it's own mode, state and action.

So the thermostat itself has a heating demand and thus will have an action of heating.
If your CV ketel is actually heating will be a property of the CV ketel itself

[2020-04-16 16:06] bouwew commented on #29
Ok, that is now the present implementation:
- for 1 thermostat the hvac_actions are determined from what the active device in the home is doing, as is shown on the Anna display
- for 2 or more, each thermostat shows it's own heating-demand and the water_heater + binary_sensors show the state of the common active device.

[2020-04-16 16:07] bouwew commented on #29
Is 0.1.19b1 working?

[2020-04-16 16:12] marcelveldt commented on #29
That sounds perfect!
I'm about to test 0.1.19b now, first will have to eat my dinner ;-)

[2020-04-16 16:15] bouwew commented on #29
:) My dinner is almost ready!

[2020-04-16 16:59] marcelveldt commented on #29
It's working perfectly fine now. hvac_action property is filled correctly and all other sensors seem to be fine too.

Just one small detail I've noticed is that I now see 2 outside_temperature sensors, not sure what's happening there. Strange thing is that both have a different (but almost similar) value.

[2020-04-16 17:00] marcelveldt commented on #29
<img width="388" alt="Schermafbeelding 2020-04-16 om 18 59 49" src="https://user-images.githubusercontent.com/6389780/79484772-75117100-8014-11ea-92be-df66dfcf76a6.png">

<img width="360" alt="Schermafbeelding 2020-04-16 om 19 00 10" src="https://user-images.githubusercontent.com/6389780/79484795-80fd3300-8014-11ea-9630-f3de0ecbab8d.png">

[2020-04-16 17:13] CoMPaTech commented on #29
Trying to figure out, but same happened in the testdata I see but with 18.0 and 20.2

[2020-04-16 17:18] CoMPaTech commented on #29
For some reason your Smile reports an outdoor temperature from heater_central - could that be the Elga or something else?

https://github.com/plugwise/Plugwise-Smile/blob/master/tests/anna_heatpump/core.domain_objects.xml has 18.0 on your `heater_central` and the 20.2 on your Home/`building` (where the rest of us has it as single).

[2020-04-16 17:23] marcelveldt commented on #29
That's correct, the Elga has it's own temperature sensor on the outside unit.
Anna will prefer that value over the internet data

[2020-04-16 17:25] CoMPaTech commented on #29
Makes sense so it can best accomodate, I'll have a look at how we prefer that over the internet one so it remains a single value. Might need some tweaking, but preferring the Elga would be the best option, agreed?

[2020-04-16 17:26] marcelveldt commented on #29
Agree, it's what the Anna is using too (and displayed on the thermostat)

[2020-04-16 19:08] CoMPaTech commented on #29
@marcelveldt created a new PR as you can see above this post

Please delete your zip file(s) from your comments (like https://github.com/plugwise/plugwise-beta/issues/29#issuecomment-614726654), might be good not to have 'some' of that information widely available.

I have included both sets of testdata (cleaned!) in our tests, TODO is adding actual tests against heating/cooling (minor, but runnin

[2020-04-16 19:11] marcelveldt commented on #29
@CoMPaTech great, thanks. It's working great.
If I have some spare time left I can do some code review and have a look at the device registry stuff prepping for the hass PR.

[2020-04-16 19:15] CoMPaTech commented on #29
Highly appreciated, I guess if there is too much to pick up for review we have to 'cancel' or 'park' our outstanding PR anyway, as we have a week without review picking up from dev and that PR is only `climate` (and **breaking**) so probably have to postpone it to 0.110 anyway if there is no movement on it.

Some 'this is how stuff works' on device-registry would be welcome, we might oversee somet

[2020-04-16 19:22] marcelveldt commented on #29
Well, except for the device registry things are looking good, as in code quality and test coverage but I've only done some quick look. I think it's a huge improvement over the current integration in terms of functionality and completeness. I'm really busy myself too but I'll do my best to help out a bit.

[2020-04-17 14:49] lenwar commented on #2
Sorry, I was in the assumption I responded some time ago.

I am getting the following error messages every now and then, but everything does seem to work:

`2020-04-17 14:56:55 ERROR (MainThread) [Plugwise_Smile.Smile] Error sending command to Plugwise: /core/domain_objects
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/Plugwise_Smile/Smile.py", line 229, in requ

[2020-04-17 16:13] bouwew commented on #2
I've performed a quick search on this error, looks like it's a Home Assistant bug. There are several open issues on the HA github that show similar type errors.

[2020-04-17 17:41] marcelveldt commented on #29
@CoMPaTech I promised to get back with you regarding the device registry.
I've refreshed my memory about it and it's in fact pretty simple.

For each entity you add to the system make sure that you set a device_info property with a dict containing the device info. So all entities that belong to the same physical device have the same device_info.

Like this:

`@property
    def device_info(self):

[2020-04-17 17:45] CoMPaTech commented on #29
Tnx @marcelveldt I spotted something on discord devs today along the same lines, tnx!

[2020-04-17 17:46] marcelveldt commented on #29
Example found here:
https://github.com/cgarwood/homeassistant-zwave_mqtt/blob/master/custom_components/zwave_mqtt/entity.py#L153

[2020-04-17 17:49] marcelveldt commented on #29
Best to set name to a combination of manufacturer + Model, the name can be personalised by the user.

[2020-04-18 19:05] CoMPaTech commented on #29
Hi @marcelveldt, if/when you have time would you be willing to test https://github.com/plugwise/plugwise-beta/releases/tag/0.1.21b4? As a heads-up there are a number of changes wrt devices and devicesnames so the cleanest way might be to remove/readd the integration.

[2020-04-19 10:04] CoMPaTech commented on #2
It's looks like your smile becomes unresponsive, do you have things other than the mobile app or HA connecting to it (like multiple HA's or something else)?

It looks like the Smile is not accepting connections. You might try rebooting the Smile if this still happens  (maybe something fishy or old things 'dangling'). Please also check if you removed any old custom_component or native plugwise comp

[2020-04-19 12:25] marcelveldt commented on #29
I was just about to comment that the device names are not yet 100% perfect but I see you've done some rework regarding that 2 hours ago. Is there a new version available yet to try ?

[2020-04-19 12:27] CoMPaTech commented on #29
If you have beta enabled in HACS you should see `0.1.23a` but for naming its the same as the previous one. The updates are more related to work within the module than in the component. I'm guessing from 'not yet 100%' that it has improved so I'm keen to know what you'd still see as improvements.

[2020-04-19 12:34] marcelveldt commented on #29
I have a duplicate "Anna" device. One instance contains entities I'd expect to be on the Smile device.

The Smile device only contains the outside temperature device.

[2020-04-19 12:35] marcelveldt commented on #29
<img width="1168" alt="Schermafbeelding 2020-04-19 om 14 34 55" src="https://user-images.githubusercontent.com/6389780/79687942-f4888580-824a-11ea-837d-d97b0c5fa7ea.png">

<img width="381" alt="Schermafbeelding 2020-04-19 om 14 35 12" src="https://user-images.githubusercontent.com/6389780/79687946-fd795700-824a-11ea-936b-9f92113195e7.png">

<img width="371" alt="Schermafbeelding 2020-04-19 om 14 3

[2020-04-19 12:37] marcelveldt commented on #29
this is running 0.1.23a btw with re-adding the integration

[2020-04-19 12:38] CoMPaTech commented on #29
Indeed you should have had 2 devices - I'm off to enjoy a little bikeride in a few minutes -  I'll have to look in why the top screenshot isn't merged with the lowest one. That is unless you still get the `water_heater` (@bouwew?) and that is why it's merged in there. Tnx for testing and your patience!

[2020-04-19 12:38] CoMPaTech commented on #29
Besides that merge it's what you'd expect right?

[2020-04-19 12:41] bouwew commented on #29
Yes, @marcelveldt will have the water_heater device as well.

I would like to remove the water_heater device. @marcelveldt, is it possible to create a sensor that shows the states idle, heating and cooling?

[2020-04-19 13:27] marcelveldt commented on #29
I do not have the water_heater device anymore. hvac_action is now correctly represented on the thermostat entity itself as I only have 1 thermostat.

So the only thing is the mixed up device name. The entities in the second Anna device should have been on the Smile gateway device.

No rush here, enjoy your bikeride!

[2020-04-19 13:28] marcelveldt commented on #29
You mean for the usecase where there are multiple thermostats in place ?
In that case a sensor is fine. It can contain text, no problem.
Just name it heating_state or something like that ?

[2020-04-19 14:10] CoMPaTech commented on #29
What I think happens (logic following) is that you have the 'real' Anna (thermostat) which shows correctly, the 'heater_central' (where everything is squashed under) and the gateway. I'll have to look if we a) want and b) are able to squash those within the GW. The module makes that separation now to keep track of all the right things and we challenged eachother quiet a few times on it. From user

[2020-04-19 14:35] marcelveldt commented on #29
Understandable but 2 devices with the same name is confusing. Please make it as close to the real (understandable) world as possible and you're all set. You can even have all entities land on the Anna thermostat device if you want imo.

[2020-04-19 14:36] CoMPaTech commented on #29
Unfortunately that wouldn't work as soon as you have an Adam :)

[2020-04-19 14:37] bouwew commented on #29
Of course, I'm stupid :(
I need a vacation, long long overdue, 2 years since the last one...

Yes, it's for the multi-thermostat scenario. Thanks, I'll have a look around in the HA code-base.

[2020-04-19 14:42] marcelveldt commented on #29
Yeah indeed, true. So a device for the smile gateway and one for each actuator/thermostat.
=one hass device for each physical device.

[2020-04-20 13:21] lenwar commented on #2
@CoMPaTech
I do have an app on my phone, but I never really use that. (I installed it to verify that HA was getting the right info from it :) and that always seemed to work fine)

For the sake of it, I uninstalled the plugwise-beta, and manually removed some other 'plugwisesmile' directory from the custom_components (as per your suggestion). My guess is, that this was in the way. I'll let you know

[2020-04-20 18:59] CoMPaTech commented on #2
Tnx @lenwar

[2020-04-21 09:01] CoMPaTech commented on #29
Hi @marcelveldt after some testing back and forth between ourselves we are now at `0.1.23a6`. It looks OK in my too-small-system, but Bouwe had some decent results. The gateway (Smile Anna) will still be there with outdoor_temp but the centralized heater equipment should be in a separate device (Auxiliary) now, mind that the entities have renamed so that again will be a remove/re-add.

[2020-04-21 11:41] bouwew commented on #29
@marcelveldt please try version 0.1.23a7, the water_heater has been replaced by a sensor.

[2020-04-22 17:30] bouwew commented on #2
Let's close this issue, it is solved.

[2020-04-22 17:30] #2 closed

[2020-04-22 19:55] marcelveldt commented on #29
Testing with this version but now I do not have a climate entity at all...

<img width="1161" alt="Schermafbeelding 2020-04-22 om 21 54 37" src="https://user-images.githubusercontent.com/6389780/80027320-ddb09000-84e3-11ea-895f-07f09cc18d5f.png">

<img width="1170" alt="Schermafbeelding 2020-04-22 om 21 54 52" src="https://user-images.githubusercontent.com/6389780/80027344-e739f800-84e3-11ea-91dc-

[2020-04-23 07:22] bouwew commented on #29
Oh, that's unexpected :(
Is there an error-message in Developer Tools --> Logs?

[2020-04-24 07:15] marcelveldt commented on #29
Sorry for the late reply. Yes there's an error.

[code]

Looks like a null reference error, self._domain_objects is None

[2020-04-24 08:37] bouwew commented on #29
What happens when you restart HA? Is the error there still?

[2020-04-24 08:39] marcelveldt commented on #29
this was a fresh start. Even tried re-adding the integration

[2020-04-24 08:50] bouwew commented on #29
Yes, but please restart again.
We think the error was caused by a failure to obtain data from the Smile during the init-phase of the climate entity. Unless the connection between the Smile and the HA-server is bad, this should not happen all the time.

I have never seen this error happen until now. Not in my own system, not reported by other users.
But, we are thinking about how to protect against

[2020-04-24 09:04] marcelveldt commented on #29
OK, after a few restarts it now works but it's not stable.
Connection to the smile is ethernet and stable.

I've had a quick look at the code and it's missing some guards if there is no data available.
Make sure you have a task connecting to the device every X seconds and fill your collections.
When reading/using those collections, make sure they're not empty. Now the entire integration fails beca

[2020-04-24 09:06] marcelveldt commented on #29
btw: still got 2 devices...

![Schermafbeelding 2020-04-24 om 11 04 19](https://user-images.githubusercontent.com/6389780/80194882-5a925580-861b-11ea-97f9-a6f172eb3c68.png)

why is this outdoor temp the (only) entity on the smile device ?
![Schermafbeelding 2020-04-24 om 11 05 03](https://user-images.githubusercontent.com/6389780/80194940-74339d00-861b-11ea-9515-d07067e26d5a.png)

Why not list all

[2020-04-24 09:19] CoMPaTech commented on #29
The safeguarding is there, but not for initial failure indeed so we should improve there, while a valid point, I'm wondering why it happened. Building a retry or general failure in there is not something for pickup during daytime today unfortunately.

Wrt the devices, thats what we'd expect and concurs with the per physical device (in the end). You have the Smile box, the Auxiliary (heater/cooler)

[2020-04-24 09:28] marcelveldt commented on #29
Understood, So Auxiliary is in this case the central/heater cooler. Makes sense. You do not get the name of the attached device in the API so you name it more generic into Auxiliary ?

Don't worry about the reconnect logic for now. At least it's now clear that it works.
Thanks!

[2020-04-24 09:33] marcelveldt commented on #29
Wouldn't setpoint temperature be a better default name for this entity ?
<img width="544" alt="Schermafbeelding 2020-04-24 om 11 33 25" src="https://user-images.githubusercontent.com/6389780/80197783-6b44ca80-861f-11ea-8e82-514e5efaeb7d.png">

And this one "Current temperature" ?
<img width="506" alt="Schermafbeelding 2020-04-24 om 11 32 32" src="https://user-images.githubusercontent.com/6389780/8

[2020-04-24 10:14] bouwew commented on #29
Thanks, one of out todo-items, check all the names of the entities, can they be shorter and are they clear.

[2020-04-24 10:35] CoMPaTech commented on #29
Just to sure we are all on the same (visual level of) page :) This is what the test-setup looks like wrt devices and components but unfortunately there is is non-Adam and non-Aux as it is on city-heating (on/off only)

<img width="1457" alt="Schermafbeelding 2020-04-24 om 12 33 50" src="https://user-images.githubusercontent.com/5751088/80203767-fa55e080-8627-11ea-9b33-7cf8e17ba52f.png">
<img width

[2020-04-24 12:05] marcelveldt commented on #29
Great job guys!

[2020-04-27 11:12] CoMPaTech commented on #29
Hi @marcelveldt

Some news to share, https://github.com/plugwise/plugwise-beta/releases/tag/0.2.0 is out and should have better handling for invalid states - comes with exceptions (as we should have done already) - and adjustments to the devicenames and dhw state.

Looking forward to your feedback (and maybe even a closed issue :) - enjoy 'Woningsdag', @bouwew and @CoMPaTech

[2020-04-27 13:21] marcelveldt commented on #29
Perfect! Seems to be robust now, great work!

[2020-04-27 13:48] #29 closed

[2020-04-28 17:27] CoMPaTech opened #49 "Legacy Anna: climate entity missing"
Hi Gents I am currently running 0.2.0 on HA on version 219.
Got everything running. But I dont get the climate entity?

I do get 2 entities called "Anna" and "Smile_Anna" but they only contain information. ( i.e. sensors )

![image](https://user-images.githubusercontent.com/56043947/80515154-c8bf7b00-8981-11ea-97b0-46779f10c971.png)

_Originally posted by @AussiSG in https://github.com/laetificat/

[2020-04-28 17:29] bouwew commented on #49
@AussiSG, please respond in this topic.

[2020-04-28 17:50] bouwew commented on #49
@AussiSG, do you see any Error related to plugwise-beta in Developer Tools --> Logs?

If not, can you please activate debug-logging for plugwise-beta?:
[code]
And restart HA after this change?

After the restart, at Developer Tools --> Logs, load the FULL HA LOG.
There should be many plugwise-beta related messages, can you please show them to us?

[2020-04-28 18:10] AussiSG commented on #49
Yes, I have update to the beta version of HA (Home Assistant 0.109.0b4).

Here is a full copy of the HA log:

https://pastebin.com/nMLqeHpX

Dont mind the error of the serial / usb thingy still struggling with hehe

[2020-04-28 18:16] bouwew commented on #49
Thanks! I can see what went wrong: `Single master thermostat = None`.
Should be `True` in your system as you have a legacy Anna, correct?

[2020-04-28 18:17] AussiSG commented on #49
Correct

[2020-04-28 19:12] CoMPaTech commented on #49
(possible) Code improvements underway

[2020-04-28 19:42] CoMPaTech commented on #49
We're deliberating, my PR is an improvement but probably won't fix it. Can you check http://192.168.x.y/core/locations.xml on your Smile? It's probably pretty empty like (this one)[https://github.com/plugwise/Plugwise-Smile/blob/master/tests/legacy_anna/core.locations.xml]

The second question is what firmware are you running according to the interface? Is this 1.8 or a 3.x or 4.x?

We're readying

[2020-04-28 19:56] CoMPaTech commented on #49
@AussiSG besides the above request (mainly which firmware you are on according to you app or Smile itself) -
`0.2.1a1` should be visible from HACS - please leave your logging set to debug, below `Gateway is <some long alphanumeric string>` there should be some relevant information.

The debug logging might be stating 1.8.0, 3.3.9 or something but we're really looking for what your app tells you.

[2020-04-29 05:16] AussiSG commented on #49
Goodmorning.

Anna is currently running the following software/hardware, found on the internal website
![image](https://user-images.githubusercontent.com/56043947/80562294-9ea0a400-89e7-11ea-8de8-5eb6a6d84e59.png)

Complete log after restart HA:
https://pastebin.com/svaEYDUv

And

Here is snip of my /locations.xml
[image](https://user-images.githubusercontent.com/56043947/80562839-3a7edf80-89e9-11

[2020-04-29 05:38] CoMPaTech commented on #49
My bad, its http://w.x.y.z/core/locations (without the xml - but it still should be empty). We'll check your pastebin, it still says it didn't find a master thermostat even though we already should have 1.8 fw working.

[2020-04-29 05:43] AussiSG commented on #49
![image](https://user-images.githubusercontent.com/56043947/80564066-19b88900-89ed-11ea-916e-926f0ce8699f.png)
That has some more content indeed.

Yea thats wat I spotted aswell in the logs

[2020-04-29 05:50] CoMPaTech commented on #49
Well this explains a lot (now) ... the assumption on test input was 1.8 didn't have locations, so if it has some of the logic is now bypassed. Seeing your output I assume (new one) that the other 1.8 didn't have outdoor_temp monitored and hence got no location.

Tnx, 'll get back to you

[2020-04-29 06:17] CoMPaTech commented on #49
`0.2.1a2` should be ready to install

[2020-04-29 06:18] AussiSG commented on #49
Gonna try it out.
Altho the outdoor temp sensor dont make sense... It always states that it's 21.01 degree outside.....

[2020-04-29 06:28] AussiSG commented on #49
This is more like it 👍 Great sorting guys.
Thanks for the support of the extreme legacy anna hehe

![image](https://user-images.githubusercontent.com/56043947/80566463-5d15f600-89f3-11ea-812b-fccd5a90a06d.png)

[2020-04-29 06:36] CoMPaTech commented on #49
Great to see it working - in retro, maybe the 1.8 indeed shouldn't have locations but yours just got it anyway ... Leaving the issue open so @bouwew is also informed

[2020-04-29 06:38] bouwew commented on #49
@AussiSG Can you please post the log-output of the last HA start, with 0.2.1a2 loaded?

[2020-04-29 06:38] AussiSG commented on #49
Yea I have been messing with different Anna gateways because of getting a busted one from Marketplace.....

But : after deleting the integrations and looking it back up the additional sensor seem to be coming in 👍

[2020-04-29 06:42] bouwew commented on #49
Ah Ok, remnant devices... Indeed then better to delete the integration and add it again. What do you see now? Can you post the Integration-screen showing the 2 main devices? And then per device the attached entities? So we can double-check everything is OK?

[2020-04-29 06:53] AussiSG commented on #49
Sure thing. Here are the devices:
![image](https://user-images.githubusercontent.com/56043947/80568111-b03d7800-89f6-11ea-81d2-298d687466d8.png)

And here some detailed info of the added entities:
![image](https://user-images.githubusercontent.com/56043947/80568202-dcf18f80-89f6-11ea-8e07-115991091d4e.png)
![image](https://user-images.githubusercontent.com/56043947/80568218-e844bb00-89f6-11ea-99d8

[2020-04-29 06:58] AussiSG commented on #49
Having a closer look on the entities.
I see the preset_mode state "null" is back. I think we had this sorted in the version 0.1.18

[2020-04-29 07:04] bouwew commented on #49
Please post the log-output of the last start showing the plugwise-beta debug messages, there should be a clue for us why it's null.

[2020-04-29 07:13] AussiSG commented on #49
Yes a fresh one after a fresh restart:

https://pastebin.com/7ZpE250M

[2020-04-29 07:26] bouwew commented on #49
I see in your output: active-preset : None, this is causing the null-results.

It would help us enormously if you could capture the XML-data from your Anna/Smile, see here: https://github.com/plugwise/Plugwise-Smile/tree/master/tests how to do it, scroll down to see the README-text.

[2020-04-29 08:26] AussiSG commented on #49
Hmm I have picked up all the request XML files.
But I cant find any of the mentioned variables that need to be replaced due to privacy.
I hope I am doing it in the right way?

[2020-04-29 09:35] AussiSG commented on #49
Here is the zip file with the data.
I hope its good for you. I didnt find any privacy related stuff in it strangely enough
[Anna.zip](https://github.com/plugwise/plugwise-beta/files/4550836/Anna.zip)

[2020-04-29 10:00] CoMPaTech commented on #49
I don't see any details in there, I think the 1.8 fw doesn't have anything like smile-id's in there. Added your files to our testsetup, but will continue tonight on the auxiliary stuff unless @bouwew already want to tinker with it. The testfiles have been added to a PR in the module repo, tnx!

[2020-04-29 15:57] djveldm opened #53 "ON/Off Valves change to % valves"
**Is your feature request related to a problem? Please describe.**
I like to follow the "thinking/actions" of the Adam. For comments towards Plugwise Inc. it would be very nice to add the % valve states. It would be nice to have a graph for each zone with temperature Lisa, temperature water en valve state.
Your work up till now is impressive: I only started with Homeassistant last week and I am ve

[2020-04-29 16:09] bouwew commented on #53
Hi @djveldm, why do you want to use % for the valve-state? What does using % represent?
0% is closed, 100% is open? And 50% is half-open?

[2020-04-29 16:29] djveldm commented on #53
Dear Bouwe,

The valves are changing its states in time. You can check that in the Plugwise app:

Hamburger/Indeling/Zone/Radiatorkraan: Ventielstand % (Adam firmware 3.0.20!, the previous firmware needs an extra click)

On/Off is for checking the system not enough.

Thank you for your swift reply!

Dirk

Amsterdam

Van: Bouwe Westerdijk [mailto:notifications@github.com]
Verzonden: woensdag 29 apr

[2020-04-29 16:40] bouwew commented on #53
Actually, I had the same idea as you when I implemented this valve-position sensor.
Unfortunately, only two states are shown: 0% and 100%. Nothing in between, I specifically checked this by looking at the raw data (only showing 0.0 and 1.0) available from my Adam.
Because of this I chose to create a binary_sensor which shows "open" and "closed". The result is very clear, no question what 0% and 10

[2020-04-29 16:45] djveldm commented on #53
Do you have a line with Plugwise to ask?

Van: Bouwe Westerdijk [mailto:notifications@github.com]
Verzonden: woensdag 29 april 2020 18:41
Aan: plugwise/plugwise-beta <plugwise-beta@noreply.github.com>
CC: djveldm <d.j.veldman@xs4all.nl>; Mention <mention@noreply.github.com>
Onderwerp: Re: [plugwise/plugwise-beta] ON/Off Valves change to % valves (#53)

Actually, I had the same idea as you when I i

[2020-04-29 17:10] bouwew commented on #53
Yes I have a line with Plugwise. What do you want me to ask to Plugwise?

[2020-04-29 17:43] bouwew commented on #49
@AussiSG Can you please test v0.2.1a3? This update should solve the preset_mode showing "null". Instead it should show "none" when no preset is selected. Can you also activate a preset to see if that works too?

[2020-04-30 06:32] bouwew commented on #53
@djveldm
Tom and me have decided to not implement the requested change, as we do not see it as an enhancement.

But, we will point you to another solution: you can create your own %-sensor by creating a template sensor: https://www.home-assistant.io/integrations/template/
You can use this method to translate the value of the binary_sensor to a %-value.

[2020-04-30 09:46] CoMPaTech commented on #53
Do note that if the valves would do %'s we can always change it accordingly but as it stands with 0% and 100% there would be no benefit of showing it as a % or through lovelace as a gauge.

[2020-04-30 10:43] djveldm commented on #53
Thank you for this information.

I will try to implement  this suggestion, maybe it will work.

Greetings,

Dirk

Van: Bouwe Westerdijk [mailto:notifications@github.com]
Verzonden: donderdag 30 april 2020 08:32
Aan: plugwise/plugwise-beta <plugwise-beta@noreply.github.com>
CC: djveldm <d.j.veldman@xs4all.nl>; Mention <mention@noreply.github.com>
Onderwerp: Re: [plugwise/plugwise-beta] ON/Off Valve

[2020-04-30 10:46] djveldm commented on #53
The valves give % in the app of Plugwise. That’s why I wondered if it was possible to implement in Plugwise-Beta.

Greetings and thanks for your nice work, Dirk

Van: Tom [mailto:notifications@github.com]
Verzonden: donderdag 30 april 2020 11:47
Aan: plugwise/plugwise-beta <plugwise-beta@noreply.github.com>
CC: djveldm <d.j.veldman@xs4all.nl>; Mention <mention@noreply.github.com>
Onderwerp: Re: [p

[2020-04-30 10:58] CoMPaTech commented on #53
Just 2b clear: do that give "a value ending in %" or do they have values other than 0% and 100%?

If the app shows either "0%" or "100%" than it's just a matter of rewriting the current binary state. If they really do offer 20%, 50% et such, we'd be keen to know your Adams firmware and probably at least a snippet of the XML (http://w.x.y.z/core/domain_objects - look for something like the line ind

[2020-04-30 11:54] djveldm commented on #53
Adam software is 3.0.20 maar ook de vorige software gaf het % van de ventielstand aan. Zie de bijlages.
Deze zijn niet op het zelfde moment. Bij de dump stond het ventiel in de woonkamer 51%. valve_position 2020-04-30T13:24:09.579+02:00 0.51 2020-04-30T11:03:27.605+02:00
Begane grond toen 100% open valve_position 2020-04-30T13:14:15.409+02:00 1.00 2020-04-30T13:18:16.084+02:00
Derde verdieping: di

[2020-04-30 12:14] bouwew commented on #53
Heb jij een Tom of een Floor?

Ik heb een Tom, en ik heb gisteren de verwarming even aan gezet om te kijken wat er in de Plugwise App gebeurt (dwz, niet in de app maar in de browser). Ik zag alleen maar 2 toestanden: 0%(closed) en 100%(open), niks ertussen. Ook firmware 3.0.20.

Die 51%, is die waarde constant? Of verandert deze waarde binnen een aantal seconden naar 0 of 100%?

En, sorry, ik zie

[2020-04-30 12:24] djveldm commented on #53
Ik heb 8 Toms in drie verschillende zones. Per zone veranderen die Toms steeds synchroon. De waarden veranderen steeds. De 51% was dus een moment opname, het screenbeeld was iets daarvoor met andere waarde.
![firefox_2020-04-30_13-17-04](https://user-images.githubusercontent.com/63648032/80709725-0e00bb80-8aee-11ea-8c9f-5a0d1a607589.jpg)
[Plugwise dump.docx](https://github.com/plugwise/plugwise-be

[2020-04-30 12:26] CoMPaTech commented on #53
Fijn al die verschillen - zelfs een Tom is dus geen Tom :(

[2020-04-30 12:56] bouwew commented on #53
Ik zie dat jouw Tom adapter-gevoed wordt, misschien heeft dat er wat mee te maken: dat de klep dan langzamer open/dicht gaat? En juist sneller bij batterij-voeding zoals bij mij, om batterijen te sparen?

Aan de andere kant, zolang de standen anders dan 0% en 100% geen stationaire waarden zijn, wat voegt het zien van deze percentages toe? Leuk om te hebben maar na een tijdje kijk je er niet meer n

[2020-04-30 13:28] CoMPaTech commented on #49
💯

[2020-04-30 13:29] bouwew commented on #53
Hmm, na even nadenken, wanneer het percentage inderdaad niet alleen de waardes 0 en 100% aanneemt, dan werkt de binary_sensor niet goed. We kunnen relatief makkelijk een extra sensor naast de binary_sensor creëren, dan kun je kiezen.

[2020-04-30 13:36] AussiSG commented on #49
Thanks for the superb work guys to also make this possible on my 'old' Anna  👍 👍

[2020-04-30 13:43] bouwew commented on #49
@AussiSG Can you disable the preset? Then preset_mode should shown "none" instead of null.
When you report this result back, then the final issue is fixed :)

[2020-04-30 13:45] AussiSG commented on #49
Si :D
![image](https://user-images.githubusercontent.com/56043947/80717769-8b7df900-8af9-11ea-89c9-959fa0dd6e46.png)

[2020-04-30 13:46] bouwew commented on #49
Nice! Thanks for your confirmation.
Please close this issue as your final action :)

[2020-04-30 13:47] AussiSG commented on #49
Love too ;-)

[2020-04-30 14:32] bouwew commented on #53
Wacht nog maar even, ik doe zo een release de deur uit, met de gevraagde sensor.

[2020-04-30 14:39] bouwew commented on #53
Ok, versie 0.2.2 is gereleased.
Laat even weten of de sensor doet wat ie moet doen.
Je kunt de binary_sensors uitzetten wanneer je deze niet wilt zien.

[2020-04-30 15:50] bouwew commented on #53
Sorry, de sensor-waarde geeft nu nog 0 en 1% als min en max.
Een fix komt eraan.

[2020-04-30 17:32] bouwew commented on #53
V0.2.3 staat klaar.

[2020-05-01 04:54] djveldm commented on #53
Super!
![firefox_2020-05-01_06-52-04](https://user-images.githubusercontent.com/63648032/80782989-91ff8580-8b78-11ea-9cfe-d0c6febf9931.jpg)

[2020-05-01 05:49] CoMPaTech commented on #53
Nice!

[2020-05-01 06:00] bouwew commented on #53
Thanks for letting us know the result!

[2020-05-01 06:00] #53 closed

[2020-05-02 08:01] bouwew commented on #53
@djveldm
Mijn Tom doet het dus ook:
![image](https://user-images.githubusercontent.com/11290930/80858769-c13af300-8c5b-11ea-9ddb-06df63bace30.png)

:)

[2020-05-02 11:06] djveldm commented on #53
Bij mij lijkt het of de veranderingen van de klepposities niet doorkomen. Ik houd de waarde als bij de restart  van  Homeassistant.

Andere waarden van Plugwise Beta veranderen wel.

Ik weet (nog) niet hoe ik zo een mooie grafiek kan maken.

Van: Bouwe Westerdijk [mailto:notifications@github.com]
Verzonden: zaterdag 2 mei 2020 10:01
Aan: plugwise/plugwise-beta <plugwise-beta@noreply.github.com>
CC

[2020-05-02 11:10] bouwew commented on #53
Zo'n grafiek, dat zit standaard in HA. Ik denk gewoon op de pie-chart van de sensor klikken.

[2020-05-07 13:28] WilbertVerhoeff opened #57 "HVAC action 'idle' is missing after updated from 0.1.18-1"
**Describe the bug**
Plugwise beta custom component version 0.2.3
Legacy Anna user version 1.8.20
Home Assistant on a ubuntu server
installed true HACS

for the legacy Anna, after the update from 0.1.18-1 to higher the 'idle' action is missing in the thermostat. the thermostat remains in 'heating' mode. What i also noticed was that the most entities where duplicated and the domestic_hot_water and

[2020-05-07 13:49] bouwew commented on #57
Hi Wilbert,

There were were several  changes moving to version 0.2.0. Did your read the release notes?
Probably not :)
Please have a look here: https://github.com/plugwise/plugwise-beta/releases
Scroll down for the 0.2.0 release-notes.

The water_heater is gone and has been replaced by a sensor, this sensor is only present in systems with 2 or more thermostats, so when there is an Adam.
Domestic_

[2020-05-07 13:51] bouwew commented on #57
Also, IMPORTANT, please first uninstall and install plugwise-beta as shown in the 0.2.0 release notes.

[2020-05-07 14:03] WilbertVerhoeff commented on #57
I am very sorry to not read the correct release notes. really a shame. I did't scroll down that much or as the dutch say: i was not looking further than my nose is long. I will send you the data as soon as possible.

Thank you for your reply.

[2020-05-07 15:43] bouwew commented on #11
@sanderdw Do you see an icon of a tap on the screen of your Anna when you are tapping hot water?

[2020-05-07 15:45] bouwew commented on #49
@AussiSG other legacy Anna users report that they can see a tap-icon on the screen when they are tapping hot water. This is also true for your legacy Anna?

[2020-05-07 16:04] bouwew commented on #11
Yes, on the screen of the Anna itself.
Ok, good to know, then our assumption that the legacy Anna did not support showing this state/icon is wrong. Now we need to find out why on one user's legacy Anna the key "domestic_hot_water_state" is always "on", whether he is tapping hot water or not...

[2020-05-07 19:52] bouwew commented on #57
@WilbertVerhoeff can you edit custom_component files in your HA system?

[2020-05-07 19:59] WilbertVerhoeff commented on #57
I think so. I want to take a look at it tomorrow.

[2020-05-07 20:01] bouwew commented on #57
When easier, I can make a prerelease, which you can update to via HACS. Just takes a few minutes.
Let me know what you prefer

[2020-05-07 20:08] WilbertVerhoeff commented on #57
It does not matter to me.  What works best for you.

[2020-05-08 06:23] bouwew commented on #57
@WilbertVerhoeff , I've made a prerelease available: v0.2.4rc0
You can make this version visible in HACS, when you are in the selected Plugwise-beta integration, by clicking the 3 dots on the right and selecting "Show beta".

Please perform some tests and letus know the outcome here.

[2020-05-08 06:27] bouwew commented on #11
@sanderdw, please update to version 0.2.4rc0 and let me know if on climate.anna(?) hvac_mode is showing the heating and idle states correctly and if binary_sensor.auxiliary_dhw_state is showing the state of tapping hot water correctly.

[2020-05-08 06:28] bouwew commented on #49
@AussiSG, please update to version 0.2.4rc0 and let me know if on climate.anna(?) hvac_mode is showing the heating and idle states correctly and if binary_sensor.auxiliary_dhw_state is showing the state of tapping hot water correctly.

[2020-05-08 07:20] sanderdw commented on #11
How can i install this version with HACS? 0.2.3 is reported as the last version.

[2020-05-08 07:21] CoMPaTech commented on #11
`You can make this version visible in HACS, when you are in the selected Plugwise-beta integration, by clicking the 3 dots on the right and selecting "Show beta".`

[2020-05-08 10:18] sanderdw commented on #11
[0.2.4rc0.xlsx](https://github.com/plugwise/plugwise-beta/files/4598399/0.2.4rc0.xlsx)

Here you go. I included everything, also the core 'legacy' implemantion.

[2020-05-08 11:26] WilbertVerhoeff commented on #57
@bouwew i did install the beta with the following results:
when heating up the house it shows the correct state 'heating'.
When turn off the heat it goes back to 'idle'.
The hot water state shows 'on' when tapping hot water but only if i'm not heating the house.

I have now captured the data when heating is on and when tapping hot water. I will send this to you and will look at it myself.

[2020-05-08 11:30] bouwew commented on #11
@sanderdw, I see two test-cases: everything off and heating tap-water. Can you also please test the case of heating the radiators/floor?
What I am seeing for the two test-case, all looks OK.

About the difference between the present and legacy implementation, "hvac_mode" is not a representation of the heater-state, this state is provided by "hvac_action". "Hvac_mode" shows the operation-mode of th

[2020-05-08 11:34] bouwew commented on #57
Ok, thanks for testing! I'll take a look later, when I'm back at home.

[2020-05-08 13:30] sanderdw commented on #11
[0.2.4rc0_v2.xlsx](https://github.com/plugwise/plugwise-beta/files/4599198/0.2.4rc0_v2.xlsx)

I updated the sheet with the heating turned on.

Yes, about these guidelines, iagree to follow them even it's a little weird :). Thanks anyway.

[2020-05-08 16:32] AussiSG commented on #49
@bouwew
just updated and heating up shows good
![image](https://user-images.githubusercontent.com/56043947/81426734-e77bf980-9159-11ea-99c0-adf5c5bb6a35.png)
And also the DHW works properly:
![image](https://user-images.githubusercontent.com/56043947/81426912-2dd15880-915a-11ea-9f89-02c185a64c5f.png)

indeed I see a warm water tapping icon on my anna.

[2020-05-08 17:01] bouwew commented on #49
@AussiSG, that looks good!
Another user pointed me to the heating + hot water tapping case, that case is not correctly shown yet, will try to fix that in v0.2.4rc1.

[2020-05-08 17:05] AussiSG commented on #49
I think both the icons show on the Anna when tapping hot water ( heating symbol and tapping symbol )
But I am not sure. Need me to verify anything in that case?

[2020-05-08 17:06] bouwew commented on #49
Yes, please.

[2020-05-08 17:17] AussiSG commented on #49
Both the icon show on the Anna unit. But the states on the entities show it the proper way in my case
![image](https://user-images.githubusercontent.com/56043947/81430879-83a8ff00-9160-11ea-9cd7-c47fb730fee8.png)

[2020-05-08 18:08] bouwew commented on #49
The coming update, v0.2.4rc1 should show Mode: Heating and W.W.Afname: on.
But, it will depend on the connected cv-ketel whether this case can be properly shown, or not.

[2020-05-08 18:14] AussiSG commented on #49
Alright. Will update you when I have installed 2.4rc1 and check that situation

[2020-05-09 08:08] bouwew commented on #57
@WilbertVerhoeff version 0.2.4rc1 is available on HACS, please test.

[2020-05-09 08:08] bouwew commented on #49
@AussiSG version 0.2.4rc1 is available on HACS, please test.

[2020-05-09 08:10] bouwew commented on #11
@sanderdw version 0.2.4rc1 is available on HACS, please test.

[2020-05-09 10:02] AussiSG commented on #49
Morning,
just tested but the HVAC mode did not change to heating.

[2020-05-09 10:05] bouwew commented on #49
So, version rc0 was ok for you but rc1 is not?
Did you wait long enough, it could take as much as 60 seconds before a change is visible on HA?

[2020-05-09 10:08] AussiSG commented on #49
Also in version rc0 the HVAC state didn't change to heating when tapping hot water.
Yea it took quite a while before the taping mode went from 'off'  to ' on'

[2020-05-09 10:17] bouwew commented on #49
Hot water state is shown via binary_sensor.auxiliary_dhw_state.
Also, when only tapping hot water, hvac_mode is supposed to show idle.

[2020-05-09 10:32] AussiSG commented on #49
I thought you said in this post that also the HVAC / Mode  should change to heating when tapping hot water?
This because the "flame" symbol is also present on the anna device?

For now the auxiliary_dhw_state shows that the warm water is begin tapped by showing 'on' but this already worked on rc0.

[2020-05-09 10:46] bouwew commented on #49
This is what should happen now:
- only heating: hvac_mode = heating, .._dhw_state = off
- only tapping hot water: hvac_mode = idle, .._dhw_state = on
- heating and tapping hot water at the same time: hvac_mode = heating, .._dhw_state = on

Before it was so that "hvac_mode = heating" was shown when tapping hot water only, but this was not accepted by a reviewer.

[2020-05-09 10:49] AussiSG commented on #49
Clear. Did was already good for me on rc0:

[2020-05-09 10:52] bouwew commented on #49
Mode = hvac_mode = idle, so the Card is only showing tapping of hot water? So not showing in the proper way I think?

rc could not show the case heating + hot water tapping, it would only show heating.

[2020-05-09 11:03] AussiSG commented on #49
Correct at that moment I was only tapping hot water. Before I put the temperature up to 24 degrees and it only show the heating but wasn't tapping hot water simultaneous.
The CV is now at max temp. so heating doesn't.

Can check that some time later on if you want?

[2020-05-09 11:06] bouwew commented on #49
Sure :)
Enjoy the nice day, I will do that soon too :)

[2020-05-11 06:22] WilbertVerhoeff commented on #57
@bouwew i have tested the beta and it still gives the same result as the first one. It feels very responsive though. I think, looking at the data, this is as close as you can get with the data from the legacy anna.

Thank you for the quick response and the hard work!! If i can do more testing or data checks, please let me know.

[2020-05-11 06:35] bouwew commented on #57
@WilbertVerhoeff Ok, thanks for testing!
But, what are you saying? When you are tapping hot water and heating at the same time, in the climate-entity `hvac_mode = heating` and `binary_sensor.auxiliary_dhw_state = off`?
And, on your Anna, both the heating- and the tapping-icons are shown?

[2020-05-11 07:13] WilbertVerhoeff commented on #57
@bouwew exactly! On the physical thermostat the heating- and the tapping-icons are visible. But, on the web-interface only the flame icon is integrated. That one is responding to 'boiler_state'. So if you want to show on HA what is shown on the thermostat, then when the 'binary_sensor.auxiliary_dhw_state = on' so has to be 'hvac_mode = heating'.

When you just turn on the heating, first thing it d

[2020-05-11 08:01] bouwew commented on #57
@WilbertVerhoeff

First, "the thermostat in the web-interface only shows the flame", that is actually not relevant.
Which icons do you see in the web-interface, the Climate-Card? A calendar-icon and a flame-icon? If yes, the flame-icon means nothing more than "no-schedule" active. The flame-icon will be always on, also when the heating is off.

Second, based on what you are describing, the present

[2020-05-11 08:02] bouwew commented on #57
Do you have the key `open_therm_oem_diagnostics_code` in your /core/appliances?

[2020-05-11 08:13] bouwew commented on #57
Is it possible for you to monitor the timing of the `open_therm_oem_diagnostic_code` in your /core/appliances? Would its value changing be a better indicator of the heating and dhw_status?

Hmm, maybe I should ask Plugwise directly...
If they are willing to help.

[2020-05-11 08:34] WilbertVerhoeff commented on #57
@bouwew i'n not talking about the HA climate card. That one is clear for me.

It is relevant what the Anna Web-interface shows as it listen to the data we are talking about. this tells that there is no data about the hot water state other then via the physical thermostat, that one on the wall. I will test the OEM code again and will share that with you.

For now i think that 'boiler_state on' shou

[2020-05-11 08:45] bouwew commented on #57
Ah, you mean the Plugwise web-interface, sorry, I did not get that :)
And that web-interface does not show a tapping-icon?

Anyway, I've sent a question about this topic to Plugwise, Let's see what comes back.

[2020-05-11 08:55] WilbertVerhoeff commented on #57
exactly. No tapping icon there. It even is not programed, it can never be there unless plugwise is changing that.

As I said: for now (and I think forever) the 'boiler_state' has to tell HA if HVAC action is 'idle' or 'heating'. And I hope we can get the dhw to work in the future. Maybe I'm giving myself to much of a headache in trying something to solve what is not possible with the current setup

[2020-05-11 16:04] sanderdw commented on #11
[0.2.4rc1.xlsx](https://github.com/plugwise/plugwise-beta/files/4610704/0.2.4rc1.xlsx)

Will add heating the water later...

[2020-05-11 17:28] bouwew commented on #11
Thanks. Another user told me too that it doesn't work. He is checking a possible solution for me. And I have asked for help from Plugwise. More to follow...

[2020-05-11 18:20] bouwew commented on #57
I'm looking at your XML-files again. Better to look at the domain_object files is my present conclusion, appliances is showing boiler_state off while it is on in domain_objects..

[2020-05-11 18:34] bouwew commented on #57
Quick summary when looking at domain_objects:

OEM code:
200  H, boiler_state = on
201  DHW or H+DHW, boiler_state = on
203 Off, boiler_state = off

modulation_level = 0 for DHW, not equal to 0 for H+DHW.

[2020-05-13 09:01] WilbertVerhoeff commented on #57
@bouwew It takes over 7.5 minutes to change the oem code from 203 to 200 when turning on the central heating system. From 200 i tapped water. In the 10+ minutes, nothing changed. I did try it again and then it changed from 200 to 204 in a minute. But when i stopped tapping water the oem code now remains 204. So i think the oem code is not something to work with.

I have tested realtime and to make

[2020-05-13 17:46] bouwew commented on #57
@WilbertVerhoeff just to be sure: at which XML-data have you been looking to obtain the above result?
/core/appliances or /core/domain_objects?

[2020-05-13 17:53] WilbertVerhoeff commented on #57
@bouwew domain, appliances and direct. All at the same time constantly refreshing one after the other.

[2020-05-13 17:55] WilbertVerhoeff commented on #57
Btw, The beta is very responsive. When I change the set temperature, the fiscal thermostat changed directly.

[2020-05-13 18:51] bouwew commented on #57
Ok, thanks.
I had the impression from the data you sent earlier that appliances was updated later than domain_objects.

Yes, the beta has been made responsive, this has been bugging me for a long time. But fortunately I found a pointer in other HA-code that gave me the "Pling!: Idea!" moment :)

To summarize all our work: we are back at square one: we can use `boiler-state` to detect that the CV-k

[2020-05-13 19:17] WilbertVerhoeff commented on #57
I agree with you. I can not make much sense out of the difference the files give me everytime. Like there is no logic or something.

I'm glad the 'heating' 'idle' thing is solved, and of course the response speed!

For me personally, I would like to have the intended_boiler_state info in HA to switch my floor heating pump. But I don't know if that is possible.

I want to thank you for the clear co

[2020-05-15 16:24] fsaris commented on #57
@WilbertVerhoeff your using the climate state idle now to stop the floor heating pump?

Ran into the same issue that with the use of this beta integration of plugwise Anna doesn't go into the `off` state anymore.

If I understand your conversation correctly the `Off` state is now changed to `Idle`?

[2020-05-15 16:37] fsaris commented on #57
`{{ states("climate.anna")}}` gives now only `heat` or `auto` when using stable version or `
0.2.4rc1`

In the legacy/core version it goes to state `off`

[2020-05-15 16:41] WilbertVerhoeff commented on #57
@fsaris  Climate state is the 'HVAC action' so when the state is 'heating' it means that you are heating your home or tapping hot water. It is the same as the flame icon. Personally I now use the boiler_temperature to switch the pump on and off but it is not the right way. When the boiler temperature is below 25°C it turns off the pumps but its difficult every season.

[2020-05-15 18:17] bouwew commented on #57
@fsaris indeed, `off` is gone. Also, don't use de state for this as the state is used to show the static mode the heating system is in: auto for controlled by a schedule or AI, heat for not controlled by a schedule or AI :) Nothing more, nothing less.
Instead, use the attribute hvac_action =  heating.

But, at the moment we are still testing, experimenting to find out how to properly show the heat

[2020-05-16 07:22] fsaris commented on #57
@bouwew  @WilbertVerhoeff Tnx for the clarification. Will test a little with the `available_schemas` value.

@WilbertVerhoeff my automation was currently based on the boiler flame with a delay before it turns of again. So if the boiler starts burning the pump also starts. And if it goes off/idle the pump will run for x minutes and (if the boiler didn't start heating again) then it will stop.

Side

[2020-05-16 07:26] WilbertVerhoeff commented on #57
@fsaris i am not a/the programmer, I just test and looking at the files. I will look into the files for you, but it is up to @bouwew if it is possible to add that function.

[2020-05-16 07:40] fsaris commented on #57
Ah my mistake it's already there `selected_schema` but only in `auto` mode

[2020-05-16 07:42] bouwew commented on #57
@fsaris Correct. Auto means a schema is selected. State = Heat means that no schema is selected, so selected_schema is not shown (something that HA does by itself).

[2020-05-16 07:43] fsaris commented on #57
But what's strange it only gives 1 scheme as available scheme. But I have more of them defined

[2020-05-16 07:46] bouwew commented on #57
What hardware do you have (name + firmware version)?

[2020-05-16 08:09] fsaris commented on #57
I have a Anna

[code]

Software: 4.0.15

[2020-05-16 09:37] bouwew commented on #57
Ok, thanks.
Yes, there can be more than 1 schema for your Anna. Please make an Issue for this.
Then we will look into it.

[2020-05-16 10:24] bouwew commented on #57
@CoMPaTech has the same hardware, he can see both the schema's he has created.
Can you show us you climate-entity (screengrab)?
Also, what is the name of the schema that is not shown?

[2020-05-16 11:25] fsaris opened #61 "[BUG] `available_schemas` shows only 1 scheme"
**Describe the bug**
The climate attribute available schemas does only show the active scheme

**Expected behavior**
I expected both schemas to be in the list

**Screenshots**
![Screenshot_2020-05-16-13-11-36-162_com android chrome](https://user-images.githubusercontent.com/4019341/82118551-6f748b80-9778-11ea-9a36-9ce5fa3f417a.jpg)
![Screenshot_2020-05-16-13-15-27-190_com android chrome](https://u

[2020-05-16 11:26] fsaris commented on #57
See https://github.com/plugwise/plugwise-beta/issues/61

[2020-05-16 11:28] fsaris commented on #61
Please let me know if/how I could give you more info

[2020-05-16 11:29] fsaris commented on #61
Switching schema gives similar results

![Screenshot_2020-05-16-13-28-58-272_com android chrome](https://user-images.githubusercontent.com/4019341/82118712-53251e80-9779-11ea-9e56-1b3da6458161.jpg)

[2020-05-16 11:35] bouwew commented on #61
Thank you. I can reproduce the issue on my system. I will look into it.

[2020-05-16 12:25] bouwew commented on #61
Update: it looks like Plugwise has changed something. Before, in firmware 3.1, the schedules also the not selected one(s), were connected to a location. Now, in firmware 4.0, that is no longer the case. The not selected one(s) are no longer connected to a location. So they are not found by our code.
Fixing this will take some time, if we are going to fix it.

[2020-05-16 17:10] fsaris commented on #61
I see it's a http/xml webservice that's used to communicate with the smile. Is there some documentation of that API or is it all reversed engineered?

[2020-05-16 17:33] fsaris commented on #57
@WilbertVerhoeff @bouwew shouldn't `<type>intended_central_heating_state</type>` tell us the central heating state independent if the boiler is currently heating tap water?

[2020-05-16 17:33] CoMPaTech commented on #61
Unfortunately the latter

[2020-05-16 17:45] WilbertVerhoeff commented on #57
@fsaris where do you see that type? I can not find it in my files.

[2020-05-16 17:45] bouwew commented on #57
Please explain?
Also please note you have a newer Anna, Wilbert has a legacy Anna, with different keys in his XML-data.

[2020-05-16 18:00] fsaris commented on #57
Sorry didn't know he has the legacy version. I found this in `core/domain_objects`

Would be great if we could get this as binary sensor in homeassistent :smiley:

[2020-05-16 18:05] bouwew commented on #57
At the moment central_heating_state is used to show the heating_state, and domestic_hot_water_state is used to show the tapping of hot water.
It's my idea that central_heating_state represents the heating demand signal from the thermostat, intended_central_heating_state represents the state of the pump in e.g. the CV-ketel.

[2020-05-16 18:08] bouwew commented on #57
The binary_sensor for hot water tapping is available in plugwise-beta (custom_component). We are in the process of getting the beta-code into HA Core, replacing the present Plugwise integration.

[2020-05-16 18:46] fsaris commented on #57
Will keep an eye on these values, but currently it looks that `hvac_action` isn't in `idle` state when the heating is off and tap water is heated.

The
`<type>intended_central_heating_state</type>` value is `off` then

[2020-05-17 08:07] bouwew commented on #57
I have noticed the same. For a multi-thermostat scenario, as with the Adam, using the intended_c_h_state will indeed be the better choice. But for a single-thermostat scenario I'm not 100% sure.

If you are interested to see how it all works, take a look at the code in both repositories present in this github.

[2020-05-17 08:14] bouwew commented on #61
@fsaris CoMPaTech is seeing two schema's.
Can you please check on your system /core/domain_objects? Find the names of the two schedules and look for a location id under the key <context>. If there are location ids in the context-part under both schedule names, then both schedules can be found by the code.

[2020-05-17 09:30] CoMPaTech commented on #61
@fsaris what you'd be looking for (I have 'Test' and 'Normal') is the XML construction at (by example): [Test](https://github.com/plugwise/Plugwise-Smile/blob/db36dd87c78501344baa7dc456dfe9a5e7699960/tests/anna_without_boiler_fw4/core.domain_objects.xml#L154) and [Normal](https://github.com/plugwise/Plugwise-Smile/blob/db36dd87c78501344baa7dc456dfe9a5e7699960/tests/anna_without_boiler_fw4/core.dom

[2020-05-17 09:46] bouwew commented on #61
My 2nd schema, not connected to a location in the Plugwise App, looks like this:
[code]

[2020-05-17 09:48] CoMPaTech commented on #61
Added [this](https://github.com/plugwise/Plugwise-Smile/issues/60) for further information on the module.

[2020-05-17 17:13] bouwew commented on #57
https://github.com/plugwise/Plugwise-Smile/pull/62

[2020-05-17 17:31] fsaris commented on #61
For me it's also a `<rule/>` tag

[code]

The selected/active scheme looks like

[code]

The first one doesn't have a location but both rules are based on template `zone_preset_based_on_time_and_presence_with_override`
Isn't that a better way to extract them?

[2020-05-17 17:34] CoMPaTech commented on #61
With an Anna that could make sense but I guess for an Adam you wouldn't know where/if/how to apply it. Might be that the app just forgoes the applicability on a location for Anna's?

[2020-05-17 17:34] fsaris commented on #61
If I select the other scheme the content of the `<contents>` tag is moved to the other rule

[2020-05-17 17:35] CoMPaTech commented on #61
What firmware were you on again?

[2020-05-17 17:36] fsaris commented on #61
I just use the web interface of Anna so not sure there. Maybe that's the reason I have different results?

[2020-05-17 17:47] CoMPaTech commented on #61
Using direct-html mine is now also gone (fw4) as it doesn't have a location anymore, so apparently that's new - I've switch schema's many times a couple of months back because of the initial rewriting.

We'll have to look into if/how we can approach this as for now the active and available schema's are there but there is nothing to do with them. Within the core `climate` component there is just on

[2020-05-17 17:58] CoMPaTech commented on #61
Created https://github.com/plugwise/Plugwise-Smile/issues/63

[2020-05-17 17:59] bouwew commented on #61
When it was only the Anna, only looking for the tag was OK, but now with the Adam, and the Anna-firmware looking more and more like the Adam-firmware, we are looking for the tag and the connected location. When the location is no longer there, blame the Adam-firmware, we either need to skip it, or find another way.

As long as it is not easy to change schema from HA, I don't see a need to show ava

[2020-05-17 18:27] fsaris commented on #61
You could expose/implement a service for that in this integration :wink:

Maybe you could add a fallback for Anna devices to add all active schemes to the default location. Not sure if you use the location option at all for Anna. This is not something that is exposed to HA is it?

[2020-05-17 18:43] bouwew commented on #61
Yes, but it's much more convenient doing it via the App. As doing it in the App, via select/click, will not become available in HA.

Yes, we use the location for Anna, the code I developed originally for the Adam also worked on the Anna, no changes needed :)

Maybe you can have a look at the Plugwise_Smile code?

[2020-05-17 18:50] CoMPaTech commented on #61
Hmmm, I wrote a comment here, but apparently it got lost ... I think I've outlined how we approach in https://github.com/plugwise/Plugwise-Smile/issues/60 and created a pending decision in https://github.com/plugwise/Plugwise-Smile/issues/63.

Not too get lost in numbers here, but #62 was just merged - that's not necessarily fixing the bug but at least alleviating the interpretation within HA.

[2020-05-17 18:50] #61 closed

[2020-05-17 19:16] fsaris commented on #61
Tnx for all your efforts :+1:

I can find the info in the XML now. Next is find my way around python to see if I could help you in some way or another :smile:

[2020-05-18 06:56] bouwew commented on #61
@fsaris Please test Plugwise-beta v0.2.9rc0, available on HACS.

[2020-05-18 09:11] fsaris commented on #61
Installed it yesterday evening already, will report back

[2020-05-18 09:23] sanderdw commented on #11
Hi @bouwew just wanted to let you know that i installed 0.2.9rc0 and now the integration is broken. I also tried to re-add the integration but none if the devices and entity's are showing anymore.

[2020-05-18 09:27] bouwew commented on #11
@sanderdw Sorry to hear that. What is shown in Developer Tools --> Logs? Any errors related to Plugwise-beta?

[2020-05-18 10:19] sanderdw commented on #11
![image](https://user-images.githubusercontent.com/19476345/82202190-d70a1280-9901-11ea-9d44-b36b446f246e.png)

[2020-05-18 10:24] bouwew commented on #11
Timeout fetching data means there is a not-so-great connection between the Smile and your Home Assistant server. For the rest it looks OK to me. Is it working now for you?

[2020-05-18 11:29] sanderdw commented on #11
No it's not working. The legacy (which i'm still using) is working fine though?

![image](https://user-images.githubusercontent.com/19476345/82208290-8d262a00-990b-11ea-8790-b01b14eb7d33.png)

[2020-05-18 11:46] bouwew commented on #11
Strange! Can you please also look at the sensors? Are these also not working?

[2020-05-18 12:01] sanderdw commented on #11
Also not working:
![image](https://user-images.githubusercontent.com/19476345/82210624-b21c9c00-990f-11ea-888f-63b52337c98b.png)

I'm testing on a seperate Pi3 with only the this new developed HACS version of the component.

My main HA instance is working correctly and there i still use the 'included Anna component'.

[2020-05-18 12:23] bouwew commented on #11
Ok, so you are running 2 Home Assistant instances in parallel? And your Smile is connected via Wifi?
It might be that your Smile is being overloaded due to maybe a not-so-good WiFi-connection.

@CoMPaTech anything to add?

[2020-05-18 12:34] sanderdw commented on #11
Yes correct. Smile is connected with LAN.

I will try to go back some versions to see if it's a programming error.

[2020-05-18 12:45] sanderdw commented on #11
Ok so looks like 0.2.4rc1 is running fine and from 0.2.7rc0 it's not working anymore.

[2020-05-18 12:49] bouwew commented on #11
Thanks, good feedback :)
I'll have a detailed look later today.

[2020-05-18 13:54] bouwew commented on #11
Can you please test plugwise-beta version 0.2.7rc0 with Smile versions 0.2.4, v0.2.5, v0.2.6 and v0.2.7?
Edit/modify the version number in plugwise-beta/manifest.json and then restart HA.

[2020-05-18 15:24] bouwew commented on #11
Also, on which HA version are you testing the new plugwise-beta versions?

[2020-05-19 07:18] sanderdw commented on #11
**Home Assistant 0.109.6**
plugwise-beta version 0.2.4rc1
v0.2.5 - Working

plugwise-beta version 0.2.7rc0
v0.2.4 - Not working
v0.2.5 - Not working
v0.2.6 - Not working
v0.2.7 - Not working

[2020-05-19 07:35] bouwew commented on #11
Thanks. Looks like the plugwise-beta-code could be the reason.
Are you still seeing the "timed out" errors in the log?

[2020-05-19 08:18] sanderdw commented on #11
Yes everything is connected with UTP only.

I remember i got timeout error's but didn't test this with an specific version. So if you want me to test this let me know.

[2020-05-19 08:22] CoMPaTech commented on #11
Lets diff versions

[2020-05-19 08:36] CoMPaTech commented on #11
(just ranting out loud)
It sort of makes sense that they become unavailable - as per the upstream review we had to change to ConfigEntryNotReady (instead of PlatformNotReady) together with DUC (DataUpdateCoordinator) - so somewhere between these there is inconsistency w.r.t being available. But DUC combined with configentry not ready should trigger retries, so that's why I don't understand why the

[2020-05-19 08:41] CoMPaTech commented on #11
We could also add the 0.2.10 vs PR-63 for invalidauth in there, but that shouldn't be the issue. If the above rant sort of looks plausible lets at least see if #64 works better (i.e. shows what configentry is wrong instead of bugging the whole platform -> if I understand those workings correctly).

[2020-05-19 09:43] bouwew commented on #11
Yes, agree, lets try Smile 0.2.10 plus #64 first.

[2020-05-19 10:24] CoMPaTech commented on #11
Please see if/how `0.2.10b0` is doing

[2020-05-19 10:28] bouwew commented on #11
@sanderdw please remove the plugwise-beta integration from HA, then reboot HA, then install the new version via HACS and add the integration again.
Please follow this process to make sure nothing carries over from the old version.

[2020-05-20 08:35] sanderdw commented on #11
Unfortunately not working:
![image](https://user-images.githubusercontent.com/19476345/82424538-9e934180-9a85-11ea-82fe-54298500558e.png)

[2020-05-20 09:46] bouwew commented on #11
I'm getting more and more the idea that your Pi cannot connect to the Smile. Have you set up the networking on the Pi correctly? Can you open the Smile-website on a browser-windows on the Pi? Or can you ping the Smile IP successfully?

[2020-05-20 10:08] sanderdw commented on #11
But the same pi with 0.2.4rc1 is working fine? Also my second pi with the build-in Plugwise integration is also just working fine?

And yes i can connect with my browser:
![image](https://user-images.githubusercontent.com/19476345/82434021-95f53800-9a92-11ea-9be1-106806c836ee.png)

[2020-05-20 10:48] Mariusthvdb opened #65 "add sensor for return_water_temperature and modulation level"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

browsing my Plugwise system via the network, I see an extra sensor for Modulation level (the black graph Under Activities) is available as th

[2020-05-20 12:24] Mariusthvdb opened #66 "[IDEAS/FUTURE/ROADMAP] Investigate custom added entity-prefix (using config-flow)"
**Edited creators notes - removing template hints**

**Is your feature request related to a problem? Please describe.**

I cant find all related entities in /developer-tools/state belonging to 1 integration. Plugwise now creates many entities with names that aren't always very obvious.

**Describe the solution you'd like**

Adding the possibility of a prefix (preferably by choice) would solve this

[2020-05-20 18:03] bouwew commented on #65
Return_temp sensor added, please try version 0.2.11rc1

[2020-05-20 18:09] CoMPaTech commented on #66
As you already mentioned in community - we should look for something 'better'. I'm aware of the challenges in finding things, believe me - sometimes still searching within my zwave network. Hue isn't that much better, but at least it only has `light.something` - The integrations page at least alleviates this, checking myself there isn't much else - `/developer-tools/state` doesn't provide filterin

[2020-05-20 18:09] CoMPaTech opened #68 "[IDEAS/FUTURE/ROADMAP] Change polling time"
**Is your feature request related to a problem? Please describe.**
Not all users might benefit from power-sensors being polled every 10 seconds or climate users with every 60 seconds. Configurability is key in HA and so should our plugwise component.

**Describe the solution you'd like**
In the earlier releases we had a configurable timer, though that didn't diversify between power/climate. Pollin

[2020-05-21 11:52] Mariusthvdb commented on #65
thanks!
but I get these errors now (still on 109.6):
[code]

[code]
[code]

causing this:

<img width="487" alt="Schermafbeelding 2020-05-21 om 13 52 02" src="https://user-images.githubusercontent.com/33354141/82556565-4a15c200-9b6a-11ea-8efd-9415d0cb6be4.png">

and this for some of my template sensors:

<img width="476" alt="Schermafbeelding 2020-05-21 om 13 52 11" src="https://user-images.github

[2020-05-21 12:11] Mariusthvdb commented on #65
wait, might have missed this:

[code]

installing rc1 now.....

[2020-05-24 13:14] bouwew commented on #11
@sanderdw please try the latest version v0.2.11rc2 and let us know the result.

[2020-05-25 09:30] #65 closed

[2020-05-25 11:45] bouwew commented on #57
@WilbertVerhoeff

For me personally, I would like to have the intended_boiler_state info in HA to switch my floor heating pump.

In case you missed this, for legacy Anna, the heating-state (hvac_action = heating) is now based on `intended_boiler_state`. I found out via another user that `boiler_state` is on/off when the flame is on/off.

[2020-05-25 12:34] fsaris commented on #57
But for the floor heating pump that wouldn't matter. As you only want to know if the hvac is active. So even if currently the flame is heating the tap water you want to know if you/system has the intention to heat the floor. And the `intended_boiler_state` is telling you exact that.

[2020-05-25 13:21] sanderdw commented on #11
Seems to work! I had to update to Home Assistant 0.110.2

![image](https://user-images.githubusercontent.com/19476345/82816352-48fed080-9e9b-11ea-9e3e-f6695f17ff9f.png)

![image](https://user-images.githubusercontent.com/19476345/82816374-55832900-9e9b-11ea-9e09-e2b347a11006.png)

[2020-05-25 13:32] bouwew commented on #11
Great news, thanks!

[2020-05-26 07:08] #11 closed

[2020-05-27 10:58] AussiSG commented on #49
Goodafternoon guys,

I have update to 0.2.12rc1. Is it correct that I am missing the state of hot water tapping?

[2020-05-27 11:36] bouwew commented on #49
Sorry to read that. No, it should be there
Is there any error related to plugwise-beta in the HA log?

[2020-05-27 11:42] AussiSG commented on #49
Not really, Atleast not that I can see.

Here is the start up part of the log file. I do see a sensor calling DHT. But it doenst appear in my entities anymore

https://pastebin.com/MKwkeiT5

[2020-05-27 11:48] bouwew commented on #49
Could it be that there are 2 binary_sensors now? The original and a binary_sensor.xyz_2?
We made some changes under the hood that could case this.

[2020-05-27 12:00] bouwew commented on #49
Never mind, I don't see the `dhw_state` in your output. I will check the code...

[2020-05-27 12:25] bouwew commented on #49
I see another strange thing: from your earlier posts I can see you have a legacy Anna, but I see firmware 3.1.11 in your Pastebin file. That does not match.

[2020-05-27 12:27] AussiSG commented on #49
Strange indeed. You can see that it s shown properly in home assistant itself ( 1.8.0 ).
See screentshot hehe

[2020-05-27 12:42] bouwew commented on #49
@CoMPaTech AussiSG is reporting a new problem.
While checking his logdata out, it shows firmware 3.1.11 while he has a legacy Anna!?

[2020-05-27 12:44] bouwew commented on #49
@AussiSG can you please grab and attach a recent version of the /core/domain_objects XML-data?

[2020-05-27 12:47] CoMPaTech commented on #49
That would mean he has `gateway` somewhere in the xml (https://github.com/plugwise/Plugwise-Smile/blob/306065481b18d01b3cff7aafec3b194e6487469a/Plugwise_Smile/Smile.py#L173) indeed in `domain_objects`

[2020-05-27 13:09] bouwew commented on #49
I think the legacy_anna_2 testfiles are from his system. There's no `gateway` in the core.domain_objects.xml testfile.

[2020-05-27 13:14] bouwew commented on #49
@AussiSG, on the original topic of your new posting, while working with another user we came to the conclusion that the 0.2.4rc1-code did not work reliably in showing the heating, dhw and heating+dhw states correctly. For now we have disable showing dhw-state, meaning it will always be shown as off. The heating-state is being shown, but also when tapping hot water, so not fully correct. I'm commun

[2020-05-27 13:21] AussiSG commented on #49
@bouwew  sure thing,

here it is : https://pastebin.com/P8D41j9M

[2020-05-27 13:27] AussiSG commented on #49
Guys...
![image](https://user-images.githubusercontent.com/56043947/83024290-762fb800-a02e-11ea-8109-d0c6cf5e8d40.png)

I changed my wifi setup a while ago and had to reset the gateway to connect again.
checking the website now shows FW 3.1.11 ????!

[2020-05-27 13:29] AussiSG commented on #49
I thought 1.8.0 couldnt go to FW 3.1.11  :S

[2020-05-27 13:34] bouwew commented on #49
@AussiSG Didn't you exchange the original Smile for another one? Or was that someone else?

[2020-05-27 13:37] AussiSG commented on #49
Yea I did play with the gateway part.
Bought one set from market place but the terminals were fully busted and it didnt work.

So bought a new set , installed new gateway but kept old anna as thermostat.

Running that for quite a while and it was always 1.8.0.
Also during the last reset the interface still looked like the old 1.8.0.  ( setting up the wifi acces againg ).
I have done that twice in

[2020-05-27 13:40] AussiSG commented on #49
Should I also replace the anna part with the on I bought? Is there any "upgrade" logic in that thermostat?

[2020-05-27 13:42] bouwew commented on #49
Yes, I would definitely do that! Maybe the set you bought was not a legacy version but a recent version.

[2020-05-27 13:48] AussiSG commented on #49
There is nothing to double check it from the outerside is there?
Darn really confused here hehe

[2020-05-27 13:49] bouwew commented on #49
I'm looking at your xml-file: it does not contain the `domestic_hot_water_state` key. That's why it doesn't work.
Your XML-file doesn't seem to be complete.

Indeed, try connecting the other Anna to the Smile with the Smile being powered off.

I don't know if there is any difference between a legacy Anna and a newer Anna, sorry.

[2020-05-27 13:55] AussiSG commented on #49
Working upstairs. Just check the thermostat in the living room and I have some new data in the (old) display :o...

![IMG_20200527_155315](https://user-images.githubusercontent.com/56043947/83028949-631ee700-a032-11ea-8524-66480c165ef7.jpg)

One is the time and what is the other one ?

[2020-05-27 13:56] bouwew commented on #49
Outdoor temperature, the location of the weather-station can be set up via the App/webpage.

Check the webpage for the firmware-version, and check for an update.

[2020-05-27 14:06] AussiSG commented on #49
![image](https://user-images.githubusercontent.com/56043947/83029926-85fdcb00-a033-11ea-8cbf-851a768abb00.png)
Are there any newer version FW available? I will change the display in a bit and see if t here is any difference.

Regarding the XML file. There is no more data on it. You've received the full version.
Should I make a new one after reconnect the "newer" display?

Als I think it will be wi

[2020-05-27 14:12] bouwew commented on #49
Yes, the "new" Anna is now on firmware 4.0.15 I think.

Leave getting XML-data for now. Try to get your devices to work first, and try to get the firmware up-to-date.

And yes, better to delete the Plugwise integration and when your Anna is at the latest firmware, then try adding the Plugwise integration again.

[2020-05-27 15:25] AussiSG commented on #49
Alright more confused. Installed the Anna which was with the new set ( I think haha )
![IMG_20200527_171709](https://user-images.githubusercontent.com/56043947/83039737-cadb2f00-a03e-11ea-9c2f-a81be1e665be.jpg)

This happens after replugging the smile-t.

But after updating the screen is different then the other one ??

![IMG_20200527_172417](https://user-images.githubusercontent.com/56043947/8303

[2020-05-27 15:52] bouwew commented on #49
There's supposed to be a weather-type icon in the middle, on the top of the screen. Also missing on my Anna when it's sunny.
On what firmware version are you now?

[2020-05-27 16:05] AussiSG commented on #49
Still on 3.1.11 it keeps on mentioning that its up to date.
I couldn't update on either one of the displays.....

So on my older display it displays a thermometer. And on the new one it doesnt display anything in between.

Are you sure it should display a weather Icon. I cant see anything of that in the manual?

[2020-05-27 16:11] bouwew commented on #49
I would suggest that you contact Plugwise support and ask them for help. They can probably tell you what hardware you have, based on what's on the labels. Describe what you did, what happened, and probably they can help you to get it fully working.

[2020-05-27 16:24] AussiSG commented on #49
Yea I will do that. Thanks for the help on that part

To get back on the HA sutff ;-)  After remove and re-adding the integration all looks good 👍

( Now I also understand the why the outdoor temperature was always inside the logs , I think it was in transition state of some sort..... )

![image](https://user-images.githubusercontent.com/56043947/83046186-f2ce9080-a046-11ea-8619-d296f81e508d.png)

[2020-05-27 18:40] bouwew commented on #49
I'm closing the issue again :)

[2020-05-28 05:27] AussiSG commented on #49
Just an informational note if some reads the thread a bit. Here was de reaction of Plugwise ( in dutch tho ).

`Wij zijn continu in ontwikkeling met onze producten. Zodoende worden onze producten ook regelmatig ge-update.
Momenteel zijn wij gefaseerd bezig met de uitrol van de Smile 4. Firmware versie 4.0.15.
​
Hierdoor kan het zijn dat de ene Smile wel al geupdate is en de andere pas over een maa

[2020-05-28 06:02] CoMPaTech commented on #49
`Now the biting makes sense` :) Thanks for sharing AussiSG!

[2020-05-28 07:43] bouwew commented on #49
Interesting! I'll double-check this with my contact at Plugwise. If this is really true than the community needs to know this.

[2020-05-28 18:09] bouwew opened #73 "[BUG] hvac_modes shown as heat_cool shown instead of heat."
**Describe the bug**
The climate-entities show hvac_modes: heat_cool, auto. Used to be heat, auto.

**Evidence**
![image](https://user-images.githubusercontent.com/11290930/83177200-ed447980-a11e-11ea-9bf5-8551b0c96e35.png)

[code]

[2020-05-28 18:13] bouwew commented on #73
This is the output from Smile:
[code]

Showing `climate = False`, this should not be shown --> bug in Smile.

[2020-05-28 18:21] bouwew commented on #73
Update, my XML-data shows!
[code]
So not a bug, but an addition to the Adam firmware, I'm on v3.0.23.

[2020-05-28 18:57] bouwew commented on #73
Solved in #72, using compressor_state instead of cooling_state for detection of cooling-capability.

[2020-05-30 10:42] bouwew commented on #73
Implemented in v0.2.13

[2020-05-30 10:42] #73 closed

[2020-05-30 10:44] bouwew commented on #57
Closed as @WilbertVerhoeff 's legacy Anna firmware has been updated to v3.1.11.

[2020-05-30 10:44] #57 closed

[2020-05-30 10:45] #49 closed

[2020-05-31 08:44] AussiSG commented on #49
I can confirm that I have been update to 4.0.19 in the couple of days
![image](https://user-images.githubusercontent.com/56043947/83348317-b3948e00-a32b-11ea-8039-a0017c5ef166.png)

[2020-05-31 15:05] CoMPaTech opened #75 "[BUG] Alignment IDs with HA-core"
**Describe the bug**
Uniq IDs will have to be changed once more - but we decided to do this only after release of the core PRs.

**Additional context**
As we already bugged our community testers with having to fully delete, restart HA and add their integrations we don't feel it's of the utmost importance.

See #63 (not closed) for what still had to be done on the uniq_ids

[2020-06-01 09:46] CoMPaTech commented on #75
#74 partially already will do this for `sensors`

[2020-06-01 10:22] bouwew opened #76 "[BUG] Plugs cannot be switched anymore"
**Describe the bug**
See issue header. Could be related to the recent Adam firmware update to v3.0.23?

**Evidence**
Tried switching a Plug, it worked before. But not anymore.
Nothing in the logs.

**Home Assistant (please complete the following information):**
 - Version: 0.110.4
 - Deployment: hassio
 - Installed plugwise version: plugwise-beta, various versions
 - Installed through HACS

**Smil

[2020-06-01 14:48] bouwew commented on #76
Solved in v0.2.14.

[2020-06-01 14:48] #76 closed

[2020-06-03 09:53] willsmarthome opened #78 "more power information"
Hi there,

First, thank you for stopping your time and creating this interface.
In an old version of my Plugwise Smile I also had the interval information.
psp1_interval_peak_produced_power
psp1_interval_off_peak_produced_power
psp1_interval_peak_consumed_power
psp1_interval_off_peak_consumed_power
Is it possible to add this to this version as well ??

Thanks!
Martin W.

[2020-06-03 09:55] willsmarthome opened #79 "Plugwise Stretch"
Hi again,
I also have a Plugwise Stretch.
With this Gateway you can operate the Plugwise Circle and Circle + and read the consumption.

Are there also plans to add these?

[2020-06-03 10:00] bouwew commented on #79
Please see here: https://community.home-assistant.io/t/plugwise-plugs-component/112246, end of the thread for latest info. @brefa is working on the custom_component and the integration in HA Core.

I have a Stick with a Circle and Stealth+, would work OK, unfortunately not fully with the latest version of the available custom_component. Not sure whether the Stretch is supported...

[2020-06-03 10:05] willsmarthome opened #80 "climate.anna"
Hi,

I have problems with my Anna interface.
Installing the Integration works OK.
When I whant to use the entity climate.anna it's reporting: "not responding"
This sensor works:
binary_sensor.auxiliary_dhw_state

I asume that the connectivity with the gateway is OK.

Anny ideas?

[2020-06-03 10:08] CoMPaTech commented on #78
Hi Martin,

It's a small world :) Hi again!

It should be possible to add these, let me check if there was any reason why it isn't added.

[2020-06-03 10:12] willsmarthome commented on #78
Hi,

LoL, yes a small world.
Thanks!

[2020-06-03 10:12] CoMPaTech commented on #80
Are there any warnings or errors in the error log? url+`/developer-tools/logs`

[2020-06-03 10:20] bouwew commented on #80
Also: 'When I whant to use the entity climate.anna it's reporting: "not responding"', what do you mean by 'want to use'? Do you want to change the temperature? Or anything else? And where do you see the message 'not responding'?

[2020-06-03 10:23] bouwew commented on #79
Closing this as the requested enhancement is already being handled by someone else.

[2020-06-03 10:27] willsmarthome commented on #80
Sorry,
@bouwew, when I want to install it in the GUI.

I have found these messages:
Error while setting up plugwise-beta platform for climate
2 juni 2020 21:41:47 – Klimaat (ERROR)
Error while setting up plugwise-beta platform for sensor
2 juni 2020 21:41:47 – Sensor (ERROR)
Unexpected error fetching Smile data:
12:18:02 – Plugwise Beta for Home Assistant (ERROR) - bericht kwam voor het eerst om 2

[2020-06-03 10:39] bouwew commented on #80
Not sure what is causing this. Did you remove the old plugwise custom_component files you were using, and the configuration-lines in configuration.yaml?
If yes, next, remove the Plugwise-beta integration via Instellingen --> Integraties --> Plugwise beta --> 3 dots --> Delete.
Next, restart HA.
Next, make sure HACS shows you have the latest version = 0.2.15.
Next, add the integration again via Ins

[2020-06-03 10:49] bouwew commented on #80
Do the integration for each Smile that you have there, you have 2 I think?

When the integration(s) is (are) done, there should be a (two) Plugwise-beta "block(s)" in the list of integrations. How many apparaten and entities  are shown for the Anna?

[2020-06-03 11:10] willsmarthome commented on #80
No, i have also the old component installed.
I will remove first the old component and files.

![anna1](https://user-images.githubusercontent.com/65604497/83630041-70405680-a59b-11ea-8618-0aee6c02ca42.jpg)
![anna2](https://user-images.githubusercontent.com/65604497/83630043-70d8ed00-a59b-11ea-9e8a-cfb3ed89f194.jpg)
![anna2a](https://user-images.githubusercontent.com/65604497/83630044-70d8ed00-a59b

[2020-06-03 11:16] bouwew commented on #80
That's more like it!

All is working now?

[2020-06-03 11:25] bouwew commented on #80
Sorry, not working fully, there should be quite some sensors too. Are these not there?
Please check the HA log for errors. When clicking on an error, there should pop up a window with more detailed information.

[2020-06-03 11:30] willsmarthome commented on #80
I will first delete the old installation.
Sorry, but my "boss" keeps calling me.

I will give you a update later.

[2020-06-03 11:41] willsmarthome commented on #80
Error setting up entry EWV Zolder for upnp
13:39:22 – components/upnp/device.py (ERROR) - bericht kwam voor het eerst om 13:39:06 en verschijnt 5 malen
Error doing job: Unclosed client session
13:39:16 – core.py (ERROR)
Startup Theme: Error executing script. Service not found for call_service at pos 2: Unable to find service device_tracker/guest_presence
13:39:07 – Automatisering (ERROR)
Error doi

[2020-06-03 12:22] willsmarthome commented on #80
I deleten all: Plugwise beta custom component, files, folders....
After a new installation Anna is still unavalible.
My logging:
Error setting up entry EWV Zolder for upnp
14:13:04 – components/upnp/device.py (ERROR) - bericht kwam voor het eerst om 14:12:48 en verschijnt 5 malen
Error doing job: Unclosed client session
14:12:59 – core.py (ERROR)
Config entry for upnp not ready yet. Retrying in 5

[2020-06-03 12:48] bouwew commented on #80
When you click on this error:
Error while setting up plugwise-beta platform for climate
14:12:43 – Klimaat (ERROR)

What is shown in the window that pops up?

[2020-06-03 12:48] willsmarthome commented on #80
Logger: homeassistant.components.climate
Source: custom_components/plugwise-beta/climate.py:237
Integration: Klimaat (documentation, issues)
First occurred: 14:12:43 (1 occurrences)
Last logged: 14:12:43

Error while setting up plugwise-beta platform for climate
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 186, in _async_setup_pl

[2020-06-03 13:13] bouwew commented on #80
Thanks, this helps!

Two questions:
- What is the firmware version of your Anna?
- Do you have a weekschedule defined in the Plugwise App/website? If yes, how many? If not, let me know as well.

[2020-06-03 13:21] willsmarthome commented on #80
1. Version 4.0.19
2. Three schedules:
      - Alternatief
      - Standaard
      - Uit Huis

[2020-06-03 13:24] bouwew commented on #80
An additional request: can you please capture the XML-data on the webpage http://your_smile_ip/core/domain_objects``? When looking at the page, right-click --> save as --> some_name.xml.

[2020-06-03 13:27] bouwew commented on #80
Ah, v4.0.19, there must be a change in the xml-data that we don't know about.

[2020-06-03 13:31] willsmarthome commented on #80
[Anna4019.zip](https://github.com/plugwise/plugwise-beta/files/4723632/Anna4019.zip)

[2020-06-03 13:40] bouwew commented on #80
The "problem" is this:

One schedule is shown in the XML-data like this:
[code]

And another like this:
[code]

Our code expects the format of the 2nd schedule, it does not recognize the code of the 1st shown schedule.

Can you complete remove the Uit Huis schedule and create a new one, from scratch? Maybe that will help.

[2020-06-03 13:48] bouwew commented on #80
Please restart HA after you have recreated the schedule.
If the error is still present, please check the XML-data yourself, check to see if the format as shown in the post above is still the same.

[2020-06-03 13:58] willsmarthome commented on #80
YES!!!!
Problem solved!!!
Thanks!!!!!

[2020-06-03 14:01] bouwew commented on #80
Glad to hear that :)

[2020-06-03 14:50] bouwew commented on #79
@willsmarthome I googled the Stretch, it looks like an Adam, maybe a predecessor?. Which version do you have - 2.0/3.0? What is the firmware-version? Can you have a look at `http://your_stretch_ip/core/domain_objects`? If there is some XML-data to be seen, please capture the data and attach.

[2020-06-03 15:37] #80 closed

[2020-06-03 18:21] willsmarthome commented on #79
@bouwew
Version: 3.1.11

[Stretch30.zip](https://github.com/plugwise/plugwise-beta/files/4725387/Stretch30.zip)

Thank You!

[2020-06-03 18:29] bouwew commented on #79
Interesting! Based on what's shown in this file I would like to receive a complete set of xml-files.

Can you please capture the xml-data from the following locations, when present:
- /core/appliances
- /core/locations
- /core/direct_objects
- /core/domain_object
- /core/modules

And send me the files, then I'll have a detailed look.

[2020-06-03 18:34] willsmarthome commented on #79
[Stretch30xml.zip](https://github.com/plugwise/plugwise-beta/files/4725472/Stretch30xml.zip)

[2020-06-03 18:37] bouwew commented on #79
On second thought, the Stretch contains the Stick I see now, so you can take out the Stick, plug it in your HA-server and use the Plugwise-stick custom_component I pointed out above to get what you want.
This will save me from doing double work :)

[2020-06-03 18:48] willsmarthome commented on #79
OK,  thanks.
I will do that.

One question about the Anna.
Can I change the settings with a script like temperature and programm?
So I can change the settings with automation.

[2020-06-03 19:03] CoMPaTech commented on #78
Didn't forget about this one, just busy tidying up PR stuff for core - it's on my todolist still.

[2020-06-03 19:39] CoMPaTech commented on #66
Summary - please check your `http(s)://(...)/config/entities' page, it should provide what is sought after (and/or can be used as a lookup-table).

As this is stale for two weeks marking wontfix and closing - feel free to (re)open and unlabel when there is feedback.

[2020-06-03 21:00] Mariusthvdb commented on #66
well, this is not what I was seeking, sorry to say.
I can of course manually edit all entities, as I have done in the beta version, but it is a far cry from using the yaml entity_namespace setting.

I understand we are leaving Yaml, but having a single integration creating entities with so many different names is somewhat underwhelming. Maybe set an option in the config flow to do so?

[2020-06-03 21:17] CoMPaTech commented on #66
Not blaming anyone, I proposed/asked a question and there was no response.

As indicated in that response, prefixing everything will make others upset. Part of community and decisions is creating the optimal choice between demands.

As for creating something that can be set using config flow that could be part of future developments, although I'm not entirely sure what HA's point of view is (and w

[2020-06-03 21:29] CoMPaTech commented on #78
Hi Martin,

Version 0.2.16 should be available through HACS

[2020-06-03 21:29] #78 closed

[2020-06-03 21:36] CoMPaTech commented on #78
Notes: added to 36406

[2020-06-03 21:53] Mariusthvdb commented on #66
cool, maybe I worded it a bit too strongly, sorry for that.
Ill gladly await the custom config-flow...

[2020-06-03 21:58] willsmarthome commented on #78
Thanks, looks great!

[2020-06-04 06:14] bouwew commented on #79
Yes, the commands shown here: https://www.home-assistant.io/integrations/climate/
can be used, as far as they are available: climate.set_preset_mode, climate.set_temperature and climate.set_hvac_mode (only switch the schedule on / off, you cannot switch to another schedule).

[2020-06-04 06:15] #79 closed

[2020-06-04 06:56] willsmarthome commented on #79
Thanks @bouwew !!

[2020-06-04 06:56] willsmarthome commented on #79
Thanks @bouwew !!

[2020-06-11 09:02] CoMPaTech commented on #78
It's not in 111 yet - apparently beta and release are only for fixes, not sure it it will be in a .x release under 111, we'll see!

[2020-06-13 10:48] willsmarthome opened #83 "Problems with Plugwise P1 after installing 0.111.1"
This mornig i have run a update to 0.111.1
Plugwise P1 stops  working, Plugwise Anna works ok.

[2020-06-13 10:50] willsmarthome commented on #83
Sorry, network problems here.

[2020-06-13 10:50] #83 closed

[2020-06-15 17:04] bouwew commented on #68
A first attempt is available in the branch "config_options", it works in my system with a single Adam.
![image](https://user-images.githubusercontent.com/11290930/84685402-85719980-af3a-11ea-8557-f801162ba6df.png)

An "OPTIONS"-item has been added to the Integration-"icon", this function becomes available after the Integration has been added to Core.

[2020-06-20 18:04] bouwew commented on #68
Solved by #85

[2020-06-21 08:27] #68 closed

[2020-07-02 09:49] CoMPaTech commented on #78
It's included in 0.112 released yesterday (but it has a rather hefty change/breaking log as a whole so read the announcement carefully)

[2020-07-07 07:41] willsmarthome opened #90 "Can a change the ip adres?[FEATURE]"
Hello,

Is it possible to change de congifuration manual.
I want to change the ip adres of the Anna configuration.

[2020-07-07 07:58] bouwew commented on #90
Hi Martin,

Sure, just delete the plugwise integration in HA, change the IP address of the Anna, then add the integration in HA again and enter the new IP address. That's all, no changes needed in the Plugwise code.

[2020-07-07 08:07] willsmarthome opened #91 "Installing more then one Integration[BUG]"
![Aantekening 2020-07-07 100809](https://user-images.githubusercontent.com/65604497/86744355-d9ebce80-c039-11ea-9211-73424a0f87e9.jpg)
Good morning,

If I want to add a new one to an existing one via Integrations, I get an empty pop-up (see image) and then the selection pop-up again. It is not possible to add an Integration. When I remove and reinstall the full Integration, I can install one insta

[2020-07-07 08:12] bouwew commented on #91
Can you edit code in the custom_component files?

[2020-07-07 08:14] bouwew commented on #91
Also, can you show the details of the corresponding error show in HA Logs?

[2020-07-07 09:06] willsmarthome commented on #91
Yes i can.

[2020-07-07 09:19] willsmarthome commented on #91
See screensots:

![pwbeta errorlog](https://user-images.githubusercontent.com/65604497/86756829-f809fc80-c042-11ea-8fa1-1006622f04d3.jpg)

![pwbeta errorlog-1](https://user-images.githubusercontent.com/65604497/86757620-90a07c80-c043-11ea-975b-f6fe91dfc316.jpg)

[2020-07-07 09:46] bouwew commented on #91
Thank, that's exactly what I was looking for.

Please comment out these lines in the file `config_flow.py`:
[code]

Then restart HA Core and try to add both integrations once more and let us know the result.

[2020-07-07 10:15] willsmarthome commented on #91
YES!, it's working

[2020-07-07 10:20] bouwew commented on #91
Thanks for testing and reporting back.
I will remove those lines of code from Plugwise-beta.

FYI, one more feature coming soon: showing Plugwise notifications in HA Core.

[2020-07-07 10:24] willsmarthome commented on #91
Thank you for your solution.
"See" you soon. ;-)

[2020-07-07 10:25] #90 closed

[2020-07-07 10:26] willsmarthome commented on #90
OK
Solved!
See my bug report.

[2020-07-08 16:04] #91 closed

[2020-07-08 17:28] bouwew commented on #91
@willsmarthome Please test the new version v0.4.0. I wonder if you will get to see any Notifications?
I have Plugs so when I remove a Plug there will be a notification after some time. I also use a Plug to control my floor-heating pump, sometimes there's a message that the pump "has not run for 24hrs, it is running for a short time to prevent rust-forming".

[2020-07-08 19:22] CoMPaTech commented on #66
Mostly the desire to rename follows after already configuring devices within HA. (Good examples are lightbulbs in zigbee environments), effectively there is 'no real way back'. For plugwise itself it's somewhat simple by 'delete integration/restart HA/install integration' (though loosing recorder data). While I see the desire for renaming, I'm not sure if all users will understand the impacts if t

[2020-07-09 09:19] willsmarthome opened #93 "Error messages after installing 0.4.0 [BUG]"
After installing 2 error messages in 0.4.0 HA logging, see attachments.

Everything seems to work fine.

[040 error1 .txt](https://github.com/plugwise/plugwise-beta/files/4895748/040.error1.txt)

[040 error2.txt](https://github.com/plugwise/plugwise-beta/files/4895750/040.error2.txt)

[2020-07-09 09:19] willsmarthome opened #102 "Error messages in HA Logs"
After installing 2 error messages in 0.4.0 HA logging, see attachments.

Everything seems to work fine.

[040 error1 .txt](https://github.com/plugwise/plugwise-beta/files/4895748/040.error1.txt)

[040 error2.txt](https://github.com/plugwise/plugwise-beta/files/4895750/040.error2.txt)

[2020-07-09 16:42] bouwew commented on #93
Looks like there was a temporary communication-problem between the HA Core server and the Anna Smile, causing these 2 errors being reported.
No bug in the Plugwise-code, the code is just raising both errors due to this communication-problem.

[2020-07-09 19:37] willsmarthome commented on #93
OK, thanks for your investigation.

[2020-07-13 15:54] bouwew commented on #93
Leaving it open in case others are seeing similar error messages in HA Core Logs.
@CoMPaTech maybe we should change these errors into warnings?

[2020-07-27 06:05] #66 closed

[2020-08-01 12:25] bouwew opened #98 "[BUG] A Plugwise Error Notification does not clear in HA Core after the root-cause of the error has been cleared."
**Describe the bug**
As reported here: https://community.home-assistant.io/t/plugwise-smile-custom-component-beta/183560/78

**Home Assistant (please complete the following information):**
 - Version: 0.113.2
 - Installed plugwise version: beta 0.4.0
 - Installed through: HACS

**Smile (please complete the following information):**
 - Sort of Smile: Anna
 - Firmware: unknown

[2020-08-01 14:48] bouwew commented on #98
Fixed in v0.5.0

[2020-08-03 15:57] bouwew opened #100 "[BUG] Error after installing v0.5.1 - P1 v2"
**Describe the bug**
Reported by user "willsmarthome": after installation and restart this error is present in Logs:
[code]

**Home Assistant (please complete the following information):**
 - Version: 0.113.3

**Smile (please complete the following information):**
 - Sort of Smile: P1 v2

[2020-08-19 06:54] bouwew commented on #98
The bug is unfortunately still there, in v0.6.0.

I can see that the notification message is no longer present on the Smile, but it's still present in the self._api-data.

[2020-08-19 13:46] bouwew commented on #98
Re-fixed in v0.6.1, via Plugwise_Smile v1.2.2

[2020-08-19 13:46] #98 closed

[2020-08-25 18:14] bouwew commented on #2
@lenwar can I ask you for a small favor?

I would like to receive from you a good xml-data-capture from your Smile P1 with firmware 2.5.9.
Given what we've learned recently, there should be xml-data on the URL http://<your_smile_p1_ip>/system
Can you please have a look for me?

If there is data, can you please capture it? You can do this by right-clicking on the text, select `Save as ...` and then

[2020-08-26 15:22] lenwar commented on #2
Hi,
That URL redirects to another page.
Are you sure about it?

Looking at this site: http://domoticx.com/plugwise-smile-p1-data-uitlezen-met-scripts/   maybe you're looking for http://IP/core/modules ?

This site seems to provide a list of possible locations (in Dutch):
http://domoticx.com/plugwise-smile-p1-links-en-bestanden/

[2020-08-26 16:11] bouwew commented on #2
Hi,

No, I'm not sure, I was hoping for it :)

We are working on support for the Stretch, the 2 existing Stretch-versions have interesting data at that URL. I was hoping that this would be also true for the "oldest" P1.

Before I think you sent data from this URL: http://<Smile_P1_IP>/system/status/xml
Maybe the data is there, can you have another look? If there is data, showing:
[code]
please cap

[2020-09-04 18:04] CoMPaTech commented on #102
Moving this back again, @bouwew and me looked at it and it looks like error01 and error02 both (eventually) point to what (in 0.4) was a missing exception, we'll be adding that.

[2020-09-04 18:06] CoMPaTech commented on #102
@willsmarthome for reference/background it looks like fetching new data from the smile doesn't always work out, but instead of properly handling it (and informing HA about it) we missed the handling. Technically, we only catch missing out on correct XML data instead of also handling connection errors or timeouts.

[2020-09-04 20:52] CoMPaTech opened #103 "[TODO] Refit as per config-options PR"
See https://github.com/home-assistant/core/pull/37229/commits/5af45fb9eb443d160c37f9f23d9a68419aa46db5 and https://github.com/home-assistant/core/pull/37229/commits/78f00bf81a3ec718e38aa3b2673cc3adfb07ff9a and 44a0201 (which has to be completed for plugwise-testing as well eventually)

[2020-09-05 07:47] bouwew commented on #102
I'm seeing this one:
[code]
And this one too:
[code]

[2020-09-05 07:47] bouwew commented on #102
I also see this one:
[code]

[2020-09-05 07:48] bouwew commented on #102
And this one:
[code]

Accompanied by this one:
[code]

[2020-09-05 07:49] bouwew commented on #102
And finally, this one:
[code]

[2020-09-06 10:10] bouwew commented on #102
Update: after removing the aiohttp.ClientError-exception from Plugwise_Smile the error-messages are short like to last one shown above.

In the HA Core tesla-code there is a comment stating that "aiohttp"-errors are handled in the home assistant DeviceUpdateCoordinator-function, so, no need to have such exceptions in the Plugwise(_Smile)-code.

[2020-09-06 19:06] CoMPaTech commented on #103
Added second commit to refit
 - 1st: undo_update_interval
 - 2nd: deflate interval determination

[2020-09-08 18:22] CoMPaTech opened #106 "[TODO] Core UNIT_PERCENTAGE to PERCENTAGE adjustment **BREAKING**"
**BREAKING**
This is a breaking todo-item

**Todo**
See [this PR](https://github.com/home-assistant/core/pull/39383) for details

Breaks backward compatibility before HA 0.115!

[2020-09-08 18:29] CoMPaTech opened #107 "[TODO] Notifications functionality upstreaming"
**Todo**
Create a new PR for notification changes from beta

[2020-09-08 18:32] CoMPaTech commented on #107
Preparing `plugwise-notifications` in plugwise/home-assistant.core repo

[2020-09-08 19:03] CoMPaTech commented on #107
Remarks:
 - Slightly modified the first loop in `async_setup_entry`
 - Added `self._attributes = {}` to init as per linter (internal attributes should be initialised)
 - lint/flake complain about the if-statements in `_async_process_data` on PwNotifySensor

[2020-09-08 19:08] CoMPaTech opened #108 "[TODO] Unique ID and port number (2 PRs)"
**Todo**
Fixes for empty/None value of the id's HA #38389
Port number fix HA #38276

[2020-09-08 19:09] CoMPaTech commented on #108
Preparing plugwise-uniqid_and_portin plugwise/home-assistant.core repo: https://github.com/plugwise/home-assistant.core/tree/plugwise-uniqid_and_port

[2020-09-08 21:19] CoMPaTech commented on #108
Remarks:
 - added smile_hostname to `conftest.py` declarations (not having it actually broke the fixture loading with JSON :D)
 - reworked unique_id to `if not errors:` part and modified to `api.smile_hostname or api.gateway_id`
 - added tests for the `already configured` code part to zeroconf-testing

[2020-09-09 20:01] #75 closed

[2020-09-10 16:10] #100 closed

[2020-09-10 19:14] CoMPaTech opened #110 "[TODO] Cleanup climate"
**Todo**
Align construction starting at `climate.py`:247 onwards and remove the debug/if constructions.

[code]

[2020-09-17 16:26] #103 closed

[2020-09-17 16:26] #106 closed

[2020-09-21 18:48] CoMPaTech commented on #108
Both done https://github.com/home-assistant/core/pull/40017 and https://github.com/home-assistant/core/pull/40014

[2020-09-21 18:48] #108 closed

[2020-09-21 18:52] CoMPaTech opened #116 "[FEATURE] Integrate Plugwise-stick"
**Is your feature request related to a problem? Please describe.**
HA Core team requests single brand integrations (https://github.com/home-assistant/core/pull/35713)

**Describe the solution you'd like**
Create a user testable integrated `custom_component` capable of discoverying and handling both USB and Network components

**Describe alternatives you've considered**
n/a

**Home Assistant (pleas

[2020-09-21 19:23] CoMPaTech commented on #116
While getting together for discord, an incomplete list of 'things to tick'?

 - [ ] Is there USB discovery? (And is it even a thing?)

 - [ ] Clean up applicable 'network' (stretch/smile) parts of __init__.py to `gateway.py` (naming suggestion good?)
 - [ ] Convert applicable 'usb' parts of 35713 and/or custom_component of brefra to `usb.py` (naming suggestion ok?)

 - [ ] (more to come) `__init__

[2020-09-21 20:12] CoMPaTech commented on #110
@bouwew I think we could close as per the above now in 0.9 - though I just spotted us having 2x `async def _update_listener` in `__init__.py`.

[2020-09-21 20:47] brefra commented on #116
@CoMPaTech, great start already !
A quick reply about the USB-detection: I did some research in the past and could not find anything usefull to detect the plugwise stick. This is because its based on the famous FTDI chip. So there is no way to distinguish between a normal USB to serial adapter (which could have internally a FTDI chip too) and a Plugwise USB-stick as both have the same hardware id'

[2020-09-22 06:01] CoMPaTech commented on #116
Ah, FTDI ... the fond memories (not) :) So config flow is either discovery (networked) or manual with a first step of 'USB or Network'. Adjusting the above!

[2020-09-27 13:45] CoMPaTech commented on #116
Updated the checklist as per #117 progress - I didn't take `"pw_type"` into account yet, but we'll need this once we hit the platforms. For now #117 is working 'on my laptop' wrt both discovered and manual adding for network. With USB I do get upto `(entry.data[CONF_USB_PATH]) -> KeyError: 'usb_path'` though without filling anything in.

[2020-09-28 18:27] CoMPaTech opened #119 "[BUG] Fix heating state"
**Describe the bug**
Heating state not depicted (see discord logs)

**Home Assistant (please complete the following information):**
 - Version: any
 - Deployment: any
 - Installed plugwise version: any
 - Installed through any

**Smile (please complete the following information):**
 - Sort of Smile: Adam without auxiliary device
 - Firmware: [check through the app or the integrations page in Home

[2020-09-28 18:28] CoMPaTech commented on #119
Fixed with `tane_fixes` and added to 0.9.4 but still needs upstreaming

[2020-09-28 19:02] #110 closed

[2020-10-03 12:10] CoMPaTech commented on #116
Updated the check-/todolist - switch is intercopied (was going to say integrated, but looking at the code I doubt we can effortlessly deduplicate id), but having no plugs nor circle's unable to test, up to you guys.

[2020-10-04 12:44] CoMPaTech commented on #116
Also seeing #122 (tnx @bouwew) I vote against the idea of `PW_TYPE` and we should just replace this by looking of `CONF_HOST` or `CONF_USB_PATH` are present. Or better yet ... test for lack of `CONF_HOST` (ie order of business will be assume network unless).
Up for debate, with network working properly and discoverable. Should we favor 'USB' in the first step? I.e. as network user will probably al

[2020-10-10 10:52] lenwar commented on #2
Hi,
Sorry for the late response. I completely forgot. I hope it's still relevant:

[code]

[2020-10-10 11:36] bouwew commented on #2
No problem, thanks!

[2020-10-15 19:41] #116 closed

[2020-10-15 21:53] alex-mikhaylov opened #127 "Entity is not available because of the date/time error"
Hello,

First of all, thanks a lot for all your hard work and support!

Two days ago I bought and installed an Anna thermostat with the smile gateway and managed to use your plugin without any issues until yesterday I change the schedule from the Plugwise app. I believe that setting an event to 00:15 causes an issue in Home Assistant and makes the thermostat not available.

Here's the error that I

[2020-10-15 22:05] CoMPaTech commented on #127
Hi Alex, we'd be happy to take a look at that ... `24:15` is a great clue, let's see how it got there. We might be able to test ourselves as well, but if you are able to provide see below. Turning in for the night now though :)

Before sending in a full `domain_objects` could you have a look at `http://{your-ip}/core/domain_objects` and search for `zone_preset_based_on_time_and_presence_with_overr

[2020-10-16 06:13] bouwew commented on #127
@alex-mikhaylov what is the firmware-version of your Anna?

[2020-10-16 14:17] alex-mikhaylov commented on #127
Hi @CoMPaTech and @bouwew, thanks for getting back to me.

I had a look at `http://{your-ip}/core/domain_objects` and found out that my schedule was kind of corrupted - instead of changing twice day as shown in the Plugwise app, some time periods were several days long (e.g. Monday - Wednesday). I re-did the schedule from scratch, and the issue with `ValueError: time data '24:15' does not match fo

[2020-10-21 09:26] alex-mikhaylov commented on #127
After running a new schedule for several days, I can confirm that the issue is not there, so it was indeed a Plugwise app issue. Thanks a lot for your help and sorry for a false alarm

[2020-10-21 09:26] #127 closed

[2020-10-23 17:37] CoMPaTech commented on #107
Can be closed (nothing left other than core review from now

[2020-10-23 17:37] #107 closed

[2020-10-23 18:04] CoMPaTech commented on #119
Fixed by upstream `#41550`

[2020-10-23 18:05] #119 closed

[2020-10-24 12:54] bouwew commented on #102
Let's close, should be mostly solved as far as we can solve this.
Meaning, there will be only short error-messages shown in logs, no more quite long ones.

[2020-10-24 12:54] #102 closed

[2020-10-25 17:42] Geronimo2015 opened #134 "After update to 0.12.0 I get Setup failed for plugwise: Unable to import component: cannot import name 'SIGNAL_STRENGTH_DECIBELS_MILLIWATT'"
After update to 0.12.0 I get:

Logger: homeassistant.setup
Source: setup.py:138
First occurred: 6:36:32 PM (1 occurrences)
Last logged: 6:36:32 PM

Setup failed for plugwise: Unable to import component: cannot import name 'SIGNAL_STRENGTH_DECIBELS_MILLIWATT' from 'homeassistant.const' (/usr/src/homeassistant/homeassistant/const.py)

Home assistant version: 0.116.4

[2020-10-25 18:32] brefra commented on #134
Appearently the `SIGNAL_STRENGTH_DECIBELS_MILLIWATT` const has been [recently added](https://github.com/home-assistant/core/pull/40436) to HomeAssistant and is not available to version prio to 0.117, scheduled to be release this week.
@bouwew / @CoMPaTech should we revert this one, or make 0.117 the minimal HA version in `hacs.json`?

[2020-10-25 20:06] brefra commented on #134
@Geronimo2015, We just release two new releases.
The 0.12.1 release should prevent the reported issue and is available if you're running Home Assistant version 0.115 or 0.116.
The subsequent 0.12.2 version should only be available if you're running Home Assistant 0.117 or later.

[2020-10-25 20:10] CoMPaTech commented on #134
@Geronimo2015 please also let us know if 12.2 shows up (I recall having HACS not checking minimal versions somewhere in the past).

@brefra thanks!

[2020-10-26 15:45] Geronimo2015 commented on #134
Hi thanks it shows up but I get:

You are running Home Assistant version '0.116.4', but this repository
requires minimum version '0.117.0' to be installed.

On Sun, Oct 25, 2020 at 9:11 PM Tom <notifications@github.com> wrote:

[2020-10-26 15:47] CoMPaTech commented on #134
You should be able to choose 'reinstall' on the HACS-integration page

<img width="562" alt="Schermafbeelding 2020-10-26 om 16 46 30" src="https://user-images.githubusercontent.com/5751088/97194783-d88e0f80-17aa-11eb-8f53-9ef5934809d2.png">

From there you will be able to pick the 12.1

<img width="866" alt="Schermafbeelding 2020-10-26 om 16 46 36" src="https://user-images.githubusercontent.com/57

[2020-10-26 15:52] Geronimo2015 commented on #134
I tried but Install button is greyed out

[image: image.png]

On Mon, Oct 26, 2020 at 4:47 PM Tom <notifications@github.com> wrote:

[2020-10-27 00:09] bhavers opened #137 "[BUG] Can't install Plugwise custom component because of HACS version check of HA"
**Describe the bug**
Can't install Plugwise Beta 0.12.2 component through HACS.
I have installed HA version 0.117.0b5 and added the custom repo to HACS 1.6.0.

**Evidence**
In HACS (after selecting Integration --> Plugwise Beta custom component --> Install) i get the following error message: You are running Home Assistant version '0.117.0b5', but this repository requires minimum version '0.117.0'

[2020-10-27 06:00] CoMPaTech commented on #137
Hi @bhavers, sorry, we didn't get around to fix that yesterday, the problem is that `0.117.0` > `0.117.0.bX`. So a release is always higher than beta's. We'll have a look this morning, apologies for the inconvenience!

[2020-10-27 07:02] CoMPaTech commented on #137
`0.12.3` should appear if all went well

[2020-10-27 07:30] bhavers commented on #137
@CoMPaTech great work! It was about 01.00 in the evening for me so had to go to bed to anyway ;-)
I can confirm that it works now. Thx for the fast response and fix.

[2020-10-27 07:30] #137 closed

[2020-10-27 07:31] CoMPaTech commented on #137
NP, thanks for reporting!

[2020-10-27 07:32] CoMPaTech commented on #134
@Geronimo2015 is it still not working for you (unfortunately your image didn't upload correctly)

[2020-10-27 16:17] Geronimo2015 commented on #134
No sorry, not yet:

` You are running Home Assistant version '0.116.4', but this repository
requires minimum version '0.116.99' to be installed.  `
when I select 0.12.1.
Install button is greyed out.

On Tue, Oct 27, 2020 at 8:32 AM Tom <notifications@github.com> wrote:

[2020-10-27 20:01] CoMPaTech commented on #134
Thats weird, apparently it doesn't work as expected. It should do 116.99 for 0.12.3, not for 12.2:

12.2 = https://github.com/plugwise/plugwise-beta/blob/d961fa6fa089d436162c4195ae0474bfce061013/hacs.json

You should try installing 12.2 (< 117) or 12.3 (>117 coming released tomorrow)

It apparently does update (catching our 116.99) - does it also do this if you click the three dots on plugwise and

[2020-10-28 05:31] Geronimo2015 commented on #134
Nope, all did not help, I'll await 117

On Tue, Oct 27, 2020 at 9:01 PM Tom <notifications@github.com> wrote:

[2020-10-29 06:03] Geronimo2015 commented on #134
After update to 117 it installed correctly.

On Wed, Oct 28, 2020 at 6:31 AM Jeroen van der Schoot <vdschoot@gmail.com>
wrote:

[2020-10-29 09:23] CoMPaTech commented on #134
Tnx for the update - we'll have to check how/if/what HACS is doing to or with it then

[2020-10-29 11:36] Geronimo2015 commented on #134
The gas interval is somehow not working for my plugwise smile  2.1.13  .

sensor.p1_gas_consumed_interval
<https://jschoot.duckdns.org/developer-tools/state#> is always 0

cumulative is working though for gas, but all intervals are 0

On Thu, Oct 29, 2020 at 10:23 AM Tom <notifications@github.com> wrote:

[2020-10-29 11:41] Geronimo2015 commented on #134
can you please remove the url int the comment above?

On Thu, Oct 29, 2020 at 12:36 PM Jeroen van der Schoot <vdschoot@gmail.com>
wrote:

[2020-10-29 11:42] Geronimo2015 commented on #134
Intervals for electricity are working I noticed now

On Thu, Oct 29, 2020 at 12:41 PM Jeroen van der Schoot <vdschoot@gmail.com>
wrote:

[2020-11-02 07:19] CoMPaTech opened #138 "[TODO] Cyclic import"
**Todo**
Codefactor reports a cyclic import in plugwise/usb.py: we do `import plugwise` thus potentially importing itself :) Nothing Python won't resolve itself but I would suggest we squash this before upstreaming.

[2020-11-02 07:25] CoMPaTech commented on #134
Hi @Geronimo2015 gas interval still not working?

Could you double-check the values are present in `http://{your_p1_address}/core/domain_objects`? If you search for gas_consumed there you should find something resembling the below.

[code]

[2020-11-02 08:21] bouwew commented on #134
It could be that your energy-meter does not provide the gas-interval-value.

[2020-11-02 11:09] Geronimo2015 commented on #134
It is there:

<interval_log id="f9a135e273bb43a096ca0c54b266ccaa">
<unit>m3</unit>
<type>gas_consumed</type>
<last_consecutive_log_date>2020-06-12T16:00:00+02:00
</last_consecutive_log_date>
<updated_date>2020-06-12T16:00:00+02:00</updated_date>
<interval>PT1H</interval>
<period start_date="2016-02-28T09:00:00+01:00" end_date="
2020-06-12T16:00:00+02:00" interval="PT1H">
<measurement log_date="202

[2020-11-02 12:06] bouwew commented on #134
Yes, but that does not mean that the measurement is actually present in the output of the P1-port.

The XML-data that the Plugwise component reads from the Smiles (Adam, Anna, P1, Stretch) contains many parameters that we pass onto HA Core as binary_sensors/sensors. But we, the code-owners, don't know for sure whether these parameters are always meaningful for all the systems out there.

[2020-11-03 15:21] Geronimo2015 commented on #134
I tested and got result on http://
{plugwise.ip}/core/modules;id=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx:
So seems to be present.
Hope this helps.

<modules>
<module id="xxxxxxxxxxxxxxxxxxxxxxxxxxxxx">
<vendor_name/>
<vendor_model/>
<hardware_version/>
<firmware_version/>
<created_date>2018-03-03T11:53:53.030+01:00</created_date>
<modified_date>2020-11-03T16:18:57.700+01:00</modified_date>
<deleted_dat

[2020-11-03 15:29] bouwew commented on #134
Which firmware is your P1 on?

And what do you see at /core/domain_objects? The same value as at /core/modules? Or a different value?

[2020-11-03 16:22] Geronimo2015 commented on #134
firmware  2.1.13

In domain objects gas interval is 0 and not up-to-date

....
<interval_log id="xxxxxxxxxxxxxxxxxxxxxxxxxxxx">
<unit>m3</unit>
<type>gas_consumed</type>
<last_consecutive_log_date>2020-06-12T16:00:00+02:00
</last_consecutive_log_date>
<updated_date>2020-06-12T16:00:00+02:00</updated_date>
<interval>PT1H</interval>
<period start_date="2016-02-28T09:00:00+01:00" end_date="
2020-06-1

[2020-11-03 17:07] bouwew commented on #134
Ah Ok, that's a very old one, I have had two of these. Does your unit also show temporary drop-outs?
I got rid of mine due to these drop-outs happening frequently on both.

Can you please also check the value at /core/direct_objects? Is the value over there up-to-date?
If not, we might need to change to reading the data from /core/modules.

[2020-11-03 19:33] Geronimo2015 commented on #134
That is also 0  and out dated,
i don't have dropouts at least not noticed.

On Tue, Nov 3, 2020 at 6:07 PM Bouwe Westerdijk <notifications@github.com>
wrote:

[2020-11-03 19:38] Geronimo2015 commented on #134
I found the problem,

my gas meter was configured incorrectly in smile settings.

now it works like it should.

Thanks for the help

On Tue, Nov 3, 2020 at 8:33 PM Jeroen van der Schoot <vdschoot@gmail.com>
wrote:

[2020-11-03 19:38] #134 closed

[2020-11-04 07:36] bouwew commented on #134
Ok great, that saves us some work :)

About the dropouts, I would notice them when looking at the history-graph of the `sensor.net_electricity_point`, I would see regular intervals where the result was zero for a short time. My P1's were connected via WiFi.
Do you see this as well? When not, is your P1 perhaps connected via an Ethernet cable?

[2020-11-25 08:59] Veldkornet opened #142 "[BUG] P1 Gas Usage Stays on 0"
**Describe the bug**
In the Plugwise app, I can see my gas usage, however in HomeAssistant, I only have a _Gas Consumed Interval_, and this stays on 0. The _Gas Consumed Cumulative_ does show the correct reading.

**Evidence**
1. Look for Errors related to plugwise-beta in Developer Tools --> Logs
2. If nothing found add the below to your `configuration.yaml` and restart HA

[code]

3. After the r

[2020-11-25 11:56] Veldkornet opened #143 "[FEATURE] Add P1 Usage Today and Cost Today as sensors"
**Is your feature request related to a problem? Please describe.**
Have the daily costs and usage added as sensors. The costs are already shown on the Plugwise P1 itself, so I assume these are things which can be added?

**Describe the solution you'd like**
Practically, the information shown on the Plugwise itself in terms of usage and costs I’d like to see in HomeAssistant.
As an example, the Too

[2020-11-25 18:07] bouwew commented on #142
@Veldkornet do you see a value for P1 Gas consumed?

[2020-11-25 18:12] Veldkornet commented on #142
I don't think I have a normal gas consumed sensor. This is what I have:

![image](https://user-images.githubusercontent.com/10297361/100266445-1faa2480-2f52-11eb-81e7-a1f4f4c77d2f.jpeg)
![image](https://user-images.githubusercontent.com/10297361/100266456-25076f00-2f52-11eb-889f-7eb91503a0eb.jpeg)

[2020-11-25 18:17] bouwew commented on #142
Thanks, I meant gas consumed cumulative.

[2020-11-25 18:20] bouwew commented on #142
Which plugwise-beta version are you using? Just asking to complete the picture :)

[2020-11-25 18:22] Veldkornet commented on #142
Version 0.13.0, installed via HACS

[2020-11-25 18:35] CoMPaTech commented on #142
I see the ones we have at the office at 0 to, but my daily_gas wrappers are up and the history graph also shows some usage:
![Uploading Schermafbeelding 2020-11-25 om 19.34.12.png…]()

[2020-11-25 18:38] CoMPaTech commented on #142
fwiw the daily (and monthly and whatnot) that's just a `utility_meter` wrapper for interval

[code]

[2020-11-25 18:39] CoMPaTech commented on #142
@Veldkornet is your history graph a complete blank line

[2020-11-25 18:41] Veldkornet commented on #142
Yup, she's flatlining...
![image](https://user-images.githubusercontent.com/10297361/100268958-1ae76f80-2f56-11eb-8eb3-254b73eccac0.jpeg)

The Plugwise itself though does show usage
![image](https://user-images.githubusercontent.com/10297361/100268984-25096e00-2f56-11eb-8755-dc7e066dbcad.jpeg)

[2020-11-25 18:55] CoMPaTech commented on #142
If you look (don't paste all of it, some info discloses private information) at your `direct_objects` if you search for `gas_consumed` we expect 2 where you see `<type>gas_consumed</type>' - one denoted interval and the other cumulative. If you compare those against `https://github.com/plugwise/python-plugwise/blob/main/userdata/p1v3_full_option/core.direct_objects.xml` is your output different?

[2020-11-25 19:20] bouwew commented on #142
I seem to remember someone reporting a similar problem. In the end it turned out that the P1 had not been set-up correctly/completely w.r.t. the gas meter. Can you please check if this could be the reason for your issue?

[2020-11-25 19:24] Veldkornet commented on #142
Will report back on the direct objects shortly.

With regard to the setup... what all should I setup? The Plugwise itself only lets me fill in the tariff, which is set. Along with the country, rates etc for electricity. Was there something else?

[2020-11-25 19:28] bouwew commented on #142
I don't know, I don't have a P1 (anymore, I had a P1 legacy but that one is broken).
Is there any setup-item that related to the gas-meter?
And, did you need to enter you address? Also, did you maybe skip something? Just thinking out loud here :)

[2020-11-25 19:32] bouwew commented on #142
I'm reading the P1 v3 manual, indeed, not very much to set up, only the Energy tariffs.
Which you did set up given the cost-value shown above.

[2020-11-25 20:23] Veldkornet commented on #142
Hmm, looking at the XML, the two tags look the same... The XML structure as a whole looks a bit different though.

[2020-11-25 20:31] Veldkornet commented on #143
I seemed to be able to calculate the usages with [Utility Meter](https://www.home-assistant.io/integrations/utility_meter/) as suggested in the other issue, just need to figure out the costs now...

[2020-11-25 22:02] Veldkornet commented on #142
Looking at my Toon in HA, it looks like the sensor isn’t working there either, I checked for 3 months back. So, maybe it’s my smart meter?
The Toon still seems to give my daily usage though... As well as the plugwise app itself... I suppose it must take a delta of the total on the meter or something. I suppose I can do the same with a template...

Anyway, seems to not be related to the Plugwise si

[2020-11-26 07:37] bouwew commented on #142
Yes, that makes sense. My smartmeters (in the present and the last house I live(d) in) also do not show the hourly-use numbers. Also not on two different devices being (have been) connected to the P1-port. This must be related to the DSMR-version that is implemented on the meter.

[2020-11-26 07:50] Veldkornet commented on #142
Any idea on a template or something which will let me get the gas usage for the day?

Below the Toon equivalent.

![image](https://user-images.githubusercontent.com/10297361/100322374-77817380-2fc4-11eb-823d-88de24b2bc7d.jpeg)

[2020-11-27 07:23] bouwew commented on #142
@Veldkornet maybe there is a way to incorporate the data that you are seeing in plugwise-beta.
Can you please check something for us? When looking at the gas interval-graph in your browser, can you open a debug-window (press F12, or right-click - select inspect), select Network and then click on the icon at the bottom of the page representing the graph. In the network-log there should appear a lin

[2020-11-27 07:39] Veldkornet commented on #142
Here you go:

[info.txt](https://github.com/plugwise/plugwise-beta/files/5606545/info.txt)

[2020-11-27 08:18] bouwew commented on #142
Sorry, that's not correct. The link should look like: `http://192.168.a.bcd/core/direct_objects......` and is quite long. The output should be xml-data like the page you looked at before but then shorter.

[2020-11-27 08:31] Veldkornet commented on #142
Updated.

Assume you don't need the <location id="xxx"> <interval_log id="xxx"> so I replaced that with random xxx

[2020-11-27 08:40] bouwew commented on #142
That looks much better, thanks!
Now we need to think a bit about what we can do with this information, we get back to you.

[2020-11-27 08:44] CoMPaTech commented on #142
So it actually logs multiple measurements and keeps them around ... that's different from other setups, but good to know!

Sample of a `4.0.7` with gas we have a couple of at the office: (always limited to one measurement)

[code]

[2020-11-27 09:05] CoMPaTech commented on #142
@Veldkornet just to be sure, if you use `http://....../core/domain_objects` do you also see a `<period start... end....` with multiple days and multiple measurements?

[2020-11-27 09:08] Veldkornet commented on #142
Yes, like this:

[code]

[2020-11-28 17:05] bouwew commented on #142
@Veldkornet Can you please upgrade plugwise-beta to version 0.13.1a0? And let us know the result?
I have implemented some changes that will hopefully fix your issue.

[2020-11-29 09:24] bouwew commented on #142
@Veldkornet Please test plugwise-beta version 0.13.1a1.
Let us know about the result w.r.t. the gas_consumed_interval sensor, please.

[2020-11-29 09:34] Veldkornet commented on #142
Hmm, I installed/updated to 0.13.1a1 via HACS, but that gas_consumed_interval sensor is now listed as unavailable.

[2020-11-29 09:47] bouwew commented on #142
Ok, any info related to this case in Logs?
And, there is not a new sensor now with the extension _2?

[2020-11-29 09:54] Veldkornet commented on #142
Nope, nothing in the logs...

I removed and readied the integration,  ow the sensor is completely gone.

I notice before, that there are initially only 15 sensors, then the 16th seems to just pop up a while later. I never noticed which it was though, maybe it's this one.... I'll use some gas and see if it appears.

[2020-11-29 09:59] bouwew commented on #142
Ok thanks, I'll add some debug-logging and have another look at the code based on your feedback.

[2020-11-29 10:21] bouwew commented on #142
Please update to v0.13.1a2 and please put this in `configuration.yaml`:
[code]
After adding this please restart HA Core.
After the restart please check the debugging info in the FULL HOME ASSISTANT LOG.

[2020-11-29 10:22] bouwew commented on #142
Please look for the term `graph-data` in the messages.

[2020-11-29 12:41] Veldkornet commented on #142
Hmm, don't see anything like that

[code]

[2020-11-29 12:49] bouwew commented on #142
Ok, thanks.

Sorry, now I will need some more data from you to understand why it's not working.
Can you please capture the xml-data from `/core/domain_objects` (right-click save as xml-file) and the two complete URLs of the daily and weekly graphs for gas_consumed interval? Please email these to `bouwe "at" westerdijk "punt" info`.

[2020-11-29 12:50] bouwew commented on #142
Oh, and please also capture and send the data from both URLs as xml-data-files too.

[2020-11-29 13:04] bouwew commented on #142
In summary I'm requesting the following data:
- an xml-file of the data at /core/domain_objects,
- 2 ULRs
- 2 xml-files of the data at these 2 URLs

[2020-11-29 14:01] Veldkornet commented on #142
Sent the info

[2020-11-29 14:36] bouwew commented on #142
Yes, received. This helps a lot, I now know why it doesn't work.
A new version will be available soon.

Also, I realized there is an error in the logger-config, it should look like this:
[code]

[2020-11-29 14:45] bouwew commented on #142
Version 0.13.1a3 is available for download.
Please also change the logger-config, I still would like to see the logger-messages to know for certain that it works, or not.

[2020-11-29 14:54] Veldkornet commented on #142
Looking better... some erros in the logs though, but now the sensor is back. However, my electricity_consumed_peak_interval seams to have disappeared...

[code]

[2020-11-29 15:00] bouwew commented on #142
Thanks, I'll have a look.

[2020-11-29 15:25] bouwew commented on #142
Version 0.13.1a4 is available. In this update the error should be fixed. And hopefully the gas-interval-data will now be found.

[2020-11-29 15:31] Veldkornet commented on #142
Yup,seems like it's all working again. Now I'll just need to wait a while for some gas to be used

[2020-11-29 15:34] bouwew commented on #142
Can you show the plugwise.smile-data from Logs? That should tell me if it is working.

[2020-11-29 15:40] Veldkornet commented on #142
here you go

[code]

[2020-11-29 15:46] bouwew commented on #142
Thanks. It seems it doesn't work yet, there would be a message: 'Graph-data found: x.y`.
I will have a look later tonight/tomorrow.

[2020-11-29 17:37] bouwew commented on #142
Please test version 0.13.1a5.
The devil was in the details, I'm expecting this version to finally work.
Please show the graph-data messages once more for confirmation.

[2020-11-29 20:00] Veldkornet commented on #142
Should it already pick up data? Or only new data? I’m not sure it’s doing anything at the moment:

[code]

[2020-11-29 21:31] bouwew commented on #142
Looks like it is working now: `Graph-data found: 0.00`.
But I'm seeing this message too often I think. Will have a look trying to understand why that is.

[2020-11-30 17:24] bouwew commented on #142
@Veldkornet can you please confirm that it now works?

[2020-11-30 17:26] Veldkornet commented on #142
Nope, still hasn't moved from 0

[2020-11-30 18:29] bouwew commented on #142
I've found another small mistake, a new version will be there soon.

[2020-11-30 18:37] bouwew commented on #142
Please test version 0.13.1a6

[2020-11-30 20:12] Veldkornet commented on #142
I've been on the last update since a few minutes after your comment.

Nothing yet though, still on 0.

[2020-12-01 18:46] bouwew commented on #142
@Veldkornet Are you sure it's not working? What does the history of the `sensor.gas_consumed_interval` show?
I've double and triple-checked the code and I can't find anything wrong.
I will create another release soon with some optimizations and more added logging. Hopefully that will give a little more insight.

[2020-12-01 18:51] bouwew commented on #142
@Veldkornet version 0.13.1a7 is available for testing.
Please show the plugwise.smile logging once more and don't xxx-out the long ID so I can check whether this ID is the correct one.

[2020-12-01 18:53] Veldkornet commented on #142
Yup, 100% sure it stays on 0. I'll update now and get some gas going ;)

[2020-12-01 18:58] bouwew commented on #142
Can you show the bit where it says: "Getting graph-data from ..."? And please don't remove the long ID.

[2020-12-01 19:19] Veldkornet commented on #142
[code]

[2020-12-01 19:25] bouwew commented on #142
Everything looks good, the ID is as expected, the timestamp is there so the xml-data the code is looking for, is there.
When the time is past 20:00:00, does the timestamp-time change as well to `2020-12-01T20:00:00.000+01:00`?

[2020-12-01 20:20] Veldkornet commented on #142
Looks that way yes. Yet all the values for graph-data are still 0.00

[code]

[2020-12-01 20:34] Veldkornet commented on #142
Here's the changeover from 19:00 to 20:00, where there is data for 19:00...

[code]

[code]

[2020-12-01 20:37] Veldkornet commented on #142
I'm wondering at the moment if at 21:00, it fills an initial value of 0.00 in the xml, and then at 22:00 it does an update (updates the info for 21:00.) for everything it used between 21:00 and 22:00..

[2020-12-01 20:54] bouwew commented on #142
Thanks for providing all the info, I'll have a detailed look at this, and your feedback.

[2020-12-01 21:01] Veldkornet commented on #142
Yup, looks like that what happens, on the hour (or a few seconds just after) it updates the previous hour. So I don't know if that affects how you're fetching the data....

[code]

[2020-12-02 07:02] bouwew commented on #142
@Veldkornet Thanks, good observation! I'll try to modify the code accordingly.

[2020-12-02 07:48] bouwew commented on #142
@Veldkornet please test version 0.13.1a8, adjusted to your above discovery.

[2020-12-02 08:12] Veldkornet commented on #142
I see some action!

![image](https://user-images.githubusercontent.com/10297361/100845974-40a4d500-347e-11eb-9d40-7b14dafcccca.png)

[code]

[code]

[2020-12-02 08:20] bouwew commented on #142
Nice!

We still have some work to do before this function can be rolled out but this part is finally working :)

[2020-12-07 19:06] bouwew opened #144 "[BUG] Plugwise Notification related error in Logs"
**Describe the bug**
Error in logs:

**Evidence**
[code]

3. After the restart, at Developer Tools --> Logs, load the FULL HA LOG.
4. Upload relevant issues to a site like pastebin and copy the link here

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Home Assistant (please compl

[2020-12-07 19:09] bouwew commented on #144
Looks like there is a mismatch in the line 4 and last:
[code]

Solution: change line 4 to: `self._attributes[f"{severity.upper()}_msg"] = []`
Or, remove `.upper()` from the last line.

[2020-12-12 08:36] bouwew commented on #142
@Veldkornet We have decided to not include this bug-fix/work-around into the plugwise-code. A fully-functioning solution that works across all P1-devices is becoming too complicated.
Another reason is that there is a good alternative available: the Utility_Meter component.

[2020-12-12 08:42] Veldkornet commented on #142
No worries, the utility_meter is indeed pretty easy to implement and works well.

[2020-12-12 08:42] #142 closed

[2020-12-13 16:59] bouwew opened #145 "[BUG] Typo in binary_sensor"
**Describe the bug**
Typo in `binary_sensor.py` line 297: `                        "f{DOMAIN}.{notify_id}",`

**Home Assistant (please complete the following information):**
 - Version: 0.118.x
 - Deployment: all
 - Installed plugwise version: 0.13.0]

**Solution**
Change to: `f"{DOMAIN}.{notify_id}",`

[2020-12-13 18:15] #144 closed

[2020-12-22 18:33] bouwew commented on #145
Fixed in v0.13.1

[2020-12-22 18:33] #145 closed

[2020-12-22 18:37] bouwew commented on #143
Decision: this feature will not be implemented. We suggest using the `Utility_Meter` or 'Integration' integration.

[2020-12-22 18:37] #143 closed

[2021-01-24 09:29] bouwew commented on #138
This has been solved in beta v0.14.0?

[2021-01-31 11:59] bouwew commented on #11
@sanderdw We missen nog een stukje data/info van de legacy Anna. Zou jij eens kunnen kijken wat er staat op deze URLs?
http://<smile_ip>/system
http://<smile_ip>/system/status.xml

[2021-02-01 09:32] sanderdw commented on #11
Hi @bouwew, i don't use the Anna anymore. I switched to Tado because of independent zone control. So i'm adraid i can't help you guys anymore.

[2021-02-05 13:31] CoHoAppel opened #150 "Circles marked as "Don't turn off" not recognized during integration [BUG]"
After migrating an existing Stick/Windows PC installation with 7 Circles, by moving the Stick to a HA on RaspberryPi, only the Circles without a marking "Don't turnoff" for manual switching show up with their entities in HA. The Plugs that were marked do not show up at all. HA en Plugwise-beta are at the latest version

[2021-02-05 21:08] CoHoAppel commented on #150
After the HA update 2021.2.1 finished (installed it 1 hour ago) the remaining 4 Circles started popping up one by one in de devices list along with their entities. No explanation, but that did complete the installation. What remains is an option to disable these switches in order to avoid misuse. Comparable to the function in the Plugwise app. Is this hidden somewhere already, or should I enter it

[2021-02-06 13:19] brefra commented on #150
Nice to read the discovery is working now. It might be due to moving the stick triggered rebuilding the network between the plugwise devices, which could take a few hours to settle down.
To disable the relay (entity) option, just switch off the "Enable entity" at the relay. It's a native build-in feature of HA.

![image](https://user-images.githubusercontent.com/6314181/107119036-3f7c9380-6885-11e

[2021-02-07 14:20] CoHoAppel commented on #150
Works well, thanks. Before going ahead with other integrations I'm considering a fresh restart of HA but this time the 64-bit version (running 32-bit now). Are there any limitations with the Plugwise-beta in that case  and, as I'm still new to HA, would it be wise to do this. Would assume that the future is 64-bit anyhow.

From: brefra <notifications@github.com>
Sent: Saturday, February 6, 2021 2:

[2021-02-10 19:56] unreal4u opened #156 "Help with automation: understanding how schema's and presets work"
Hi!

First of all: excellent work guys! I bought Smile+Anna recently and your integration works as a charm! Kudos to you!!

That being said, I need some help with setting up an automation. I have 2 automations at home, one for when I leave and the other for when I arrive.

When I go out, I tell it to set the 'away' preset_mode:

[code]

However, if I understand it correctly, the schema will still

[2021-02-16 08:44] djveldm opened #154 "The auxillairy modulation level % is not correct."
![firefox_2021-02-16_09-33-31](https://user-images.githubusercontent.com/63648032/108038208-dcd08800-703a-11eb-9d0a-335b672e9f6e.jpg)

As you can see this graph is not realistic: The heater is burning in the time the value indicated is zero.
It is an important value to understand the malfunction the Plugwise Adam.
The zero is not zero: an offset problem?

[2021-02-16 09:03] bouwew commented on #154
You should also show the `flame-state` in the history-graph, heating does not necessarily mean that the flame is on, it means that hot water is being circulated, only when needed the flame is turned on.

The zero not being zero, what is the modulation measurement-value at that these moments? When hoovering over the graph with you mouse-pointer it should show a value, hoover at the point where the

[2021-02-16 09:12] bouwew commented on #154
About the %-value, we do `int(float(value)*100)` so if the %-value is not 0 the raw value must be also be not 0.

[2021-02-16 09:17] bouwew commented on #154
After a more detailed look at the modulation-graph, it shows zero when the flame is off.
So, what do you mean by "zero is not zero"?

[2021-02-16 10:44] djveldm commented on #154
Tx for reply!
See the new picture. The flame state is the second purple line line: Heating, Aux..
In that line is a blue part: the time the heating is idle: no flame.
In the graph you see there is no match and also, when the graph is 0, the heating at the heater is burning in real life.
In the graph: the greene line drops at a moment: then the heater stops: idle.
Note that the time lines are diffe

[2021-02-16 10:54] bouwew commented on #154
You misunderstand, there is a separate binary sensor that shows the flame-state: `binary_sensor.auxiliary_flame_state`.
Again, `heating_state` is not the same as `flame_state`, I know this from my own heating system.
I explained this in my 1st response, was that not clear?

[2021-02-16 11:30] djveldm commented on #154
![firefox_2021-02-16_12-24-28](https://user-images.githubusercontent.com/63648032/108056849-195bae00-7052-11eb-81ea-d38dfd2f2a01.jpg)
I am sorry: this is what I can choose. I have no binary sensor flame. I am using not the beta but Plugwise via the core.
I still think that "Auxiliary device state" is the flame or activity of heating.

[2021-02-16 11:42] bouwew commented on #154
Ah yes, correct, the `flame_state` has not been added to Plugwise Core yet. You should switch to Plugwise-beta ;)

Take it from me, heating_state does not show when the flame is on, it shows when the heat is being distributed, only now and then the flame comes on when the water temperature has dropped below the intended water temperature.

[2021-02-16 11:49] djveldm commented on #154
Anyway, I keep having a problem with the modulation zero...
I think over the switching to beta.

Is English or Dutch the language at Github?
Greetings, Dirk

[2021-02-16 12:49] djveldm commented on #154
Bouwe, It is not the problem of your integration: in the app from Plugwise the modulation is projected this way: they sent hte wrong information! The graph should be continued below zero ;-). Important information is not visible and the Pluwise integration receives bugged info. What next?
![firefox_2021-02-16_13-45-41](https://user-images.githubusercontent.com/63648032/108064786-727d0f00-705d-11eb

[2021-02-16 13:42] bouwew commented on #154
Yes, switching to plugwise-beta is a good idea. And then add the `flame_state` binary_sensor, with that added the graphs will make more sense, I promise you.

The information that Plugwise provides in their graphs is correct, you just don't fully understand what is shown in the data :)
Also, I noticed that the red bar = heating_state is lagging behind in the graph: look tomorrow again at this pict

[2021-02-16 14:48] djveldm commented on #154
Inderdaad, ik kreeg net commentaar terug van Plugwise met deze grafiek van gisteren.
Dus flame zal echt iets anders zijn als de state. En de grafiek 0 klopt. Sorry sorry voor de verwarring.

Van deze grafiek wordt ik niet blij. Er wordt louter gestuurd op watertemperatuur: de ketel gaat daar helemaal op los.
Ze werken eraan, dus wie weet..

Dank in ieder geval! Dirk.
![e4RfAa43exivF4DC8MrVuHhmxmjB

[2021-02-16 15:07] bouwew commented on #154
Geen probleem hoor, een verwarmingsalgoritme is best wel complex, veel variablelen zoals je kunt zien.

Dus, geen bug is de conclusie? Zou je dan deze Issue willen sluiten?

[2021-02-16 15:23] djveldm commented on #154
Geen bug maar een gruwelijke grafiek ;-). Tx!!

[2021-02-16 15:23] #154 closed

[2021-02-26 19:27] CoMPaTech commented on #156
Hi Camilo, just spotted this issue in our former repo, just moving it here to ensure we catch up with it.

If I read you right, indeed while the schema is still active it probably will override (I personally don't use away so I'd have to test it) - the way I guess it would work is either it overrides your away (preferring the schema) so it is at least 'warm' when you get back home.

You could inde

[2021-02-27 08:52] bouwew commented on #156
@unreal4u I can confirm: the schedule always stays active in the background and will take over at the next schedule = temperature change. So, to make it work as you want it, you need to do the following:
- when going away: first disable the schedule (via a, wait a few seconds, then set the preset
- when returning: enable the schedule

Here's an example of my going away automation:
[code]
I'm chang

[2021-03-01 00:18] unreal4u commented on #156
Oh sorry @CoMPaTech , hadn't realized there had been a repo change!

In the meantime, I have had an opportunity where I left the house but after a certain hour, the anna thermostat overwrote the value because of the schedule, so yes, you are correct.

That being said, my use-case has more to do with setting the 'away' preset once we leave the house: it is THE reason I bought this thermostat in par

[2021-03-01 00:18] #156 closed

[2021-03-03 21:11] CoHoAppel opened #157 "Not all entities of a Circle seem to have valid values yet."
My configuration: USB Stick, Circle+ and 6 more Circles. Latest version 0.14.4 installed. The configuration runs stable and a number of entities (switching on/off; current power usage; power consumption current hour;) work well, however the values of power consumption previous hour; power consumption today /yesterday; on the overview screen remain empty. Are these still work in progress? I checked

[2021-03-04 17:54] bouwew commented on #157
In my system I have the following sensors:
- sensor.power_consumption_current_hour
- sensor.power_consumption_previous_hour
- sensor.power_consumption_today
- sensor.power_consumption_yesterday
- sensor.power_usage
- switch.relay_state

Can you please send a picture of the entities that are shown for one of the Circles?

[2021-03-04 18:07] bouwew commented on #150
Regarding this topic, in the XML-data from the Stretches and from the Adam I can see this:
[code]
I'm planning to add a lock-switch to each Circle/Plug relay switch. But this will only work via the Stretch and the Adam.

[2021-03-04 21:42] CoHoAppel commented on #157
This is what I see. The enclosed document (comments in Dutch) show screen-shots and a short description of what is going on...

From: Bouwe Westerdijk <notifications@github.com>
Sent: Thursday, March 4, 2021 6:55 PM
To: plugwise/plugwise-beta <plugwise-beta@noreply.github.com>
Cc: CoHoAppel <cor_hopman@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [plugwise/plugwise-beta] Not all e

[2021-03-05 06:58] bouwew commented on #157
@CoHoAppel Please correspond directly in the chat of the Issue, I don't see anything other than the text you write.

[2021-03-05 13:11] CoHoAppel commented on #157
Enclosed the requested pictures with comments.
[3 entities with value zero.docx](https://github.com/plugwise/plugwise-beta/files/6090645/3.entities.with.value.zero.docx)

[2021-03-05 13:45] bouwew commented on #157
Thanks for providing the detailed info.
@brefra please have a look.

[2021-03-07 21:03] CoHoAppel commented on #157
Updated to the latest version (just in case) and looked at some additional material. Looking at the History tab I notices that the values may be available, but only during a very short moment as they seem to be overwritten by a zero value right after the set-moment. In the History graph this translates into a small spike, which may never show up in the Overview Screen. Screen copies are enclosed (

[2021-03-08 07:15] CoMPaTech commented on #138
Yup, we really should link issues and PRs :)

[2021-03-08 07:15] #138 closed

[2021-03-13 08:31] bouwew opened #164 "[BUG] Climate - self._mode_off can have the wrong state"
**Describe the bug**
This variable is initialized as `False` and only set to `True` via `async_set_hvac_mode()`. This means when at startup the schedule is not active, this variable will have the wrong state.

[2021-03-13 15:29] bouwew commented on #164
Fixed via PR #165

[2021-03-13 15:29] #164 closed

[2021-03-28 14:14] aerrow5 opened #168 "[BUG] Can't get component activated for usb stick in python 3.9.1"
**Describe the bug**
USB stick cant be activated due to unknown error.
Logging shows:
   AttributeError: 'Thread' object has no attribute 'isAlive'

Changed 'isAlive' into 'is_alive' in source code stick.py + __init__.py solved the issue.
Seems that 3.9 doesn't support isAlive() anymore (https://bugs.python.org/issue37804)

[2021-03-28 17:19] bouwew commented on #168
Thanks for letting us know!

Which version of the Plugwise (beta) integration are you using?

[2021-03-29 07:06] aerrow5 commented on #168
I used plugwise-beta downloaded yesterday: v0.9.4a9.

[2021-04-12 19:14] CoMPaTech opened #170 "[TODO] Investigate py38 vs py39 flake8 for C901 (too-complex)"
**Todo**
See deletion in https://github.com/plugwise/plugwise-beta/commit/66745a01fb14513afe44c6f9fab51808457e4db4 to get actions back on track

[2021-04-13 11:01] bouwew commented on #168
Fixed in v0.14.6

[2021-04-13 11:01] #168 closed

[2021-04-18 10:37] CoMPaTech commented on #170
Doesn't seem to bother codefactor anymore :)

[2021-04-18 10:37] #170 closed

[2021-04-22 18:24] bouwew opened #171 "[TODO] Also detect cooling-state properly for not-single-thermostat"
**Todo**

In climate.py we have:
[code]

We should extend this part, covering heating and cooling:
[code]

[2021-06-06 18:24] brefra opened #174 "System option to disable adding new devices not honored"
_Copied over from [this bug](https://github.com/plugwise/python-plugwise/issues/84) reported at python-plugwise_

**Describe the bug**
This message is shown in HA Core Logs:
[code]
**Home Assistant Core (please complete the following information):**
 - Version: 2021.6.2
 - Deployment: Proxmox VM
 - Installed plugwise version: 0.15.0b0 + plugwise v0.10.0 (from testpypi)
 - Installed through 'HACS']

[2021-06-07 12:35] tvwerkhoven commented on #157
I have a similar issue, also using USB Stick, Circle+ and 3 more Circles in my case. Some entities work OK, others don't report data. So hardware is OK, connection is OK, configuration is OK, but something in de details of populating the entities is going wrong. Any idea what's going on? I have similar problems with multiple Circles.

E.g. see this sensor's entity history:
* sensor.power_usage (Wo

[2021-06-12 17:42] brefra commented on #174
Resolved in release 0.14.7

[2021-06-12 17:42] #174 closed

[2021-06-17 14:02] wburgers opened #176 "[BUG] v0.15.0 does not create climate entities anymore"
**Describe the bug**
I am using an Anna in my living room, with Adam near my central heater and Tom radiator valves in each room.
After upgrading from 0.14.7 to v0.15.0, there is no climate entity in HA for the radiator valve for any of the rooms I only have a Tom.

**Evidence**
There is no error in the logs whatsoever. No debug logging either, even after setting the config to:
[code]

**Expected

[2021-06-17 15:16] bouwew commented on #176
@wburgers I understand your bug I think, I will check the code for bugs in relation to this bug-report.

[2021-06-17 15:33] bouwew commented on #176
@wburgers can you please test plugwise-beta v0.15.1b0?

[2021-06-17 16:03] bouwew commented on #176
That's good news!
I've made so many changes to both the plugwise-beta v0.15.0 as the python-plugwise v0.10.0 code, I missed one small thing, sorry!

Thanks for testing, I'll release the new version.

[2021-06-17 16:06] wburgers commented on #176
No worries, you don't have to apologise!
I appreciate your hard work on this component and I use it with much pleasure.
I always tell every Tado user that the Plugwise integration is much better and provides much more stuff 😁.

Thanks again!

[2021-06-22 17:23] bouwew commented on #176
Closing this issue, solved in #177

[2021-06-22 17:23] #176 closed

[2021-06-26 09:00] wfroemgen opened #179 "[BUG] Unable to serialize to JSON. Bad data found ... power_w=nan ..."
**Describe the bug**
HA is unresponisve when accessing History, or from time to time without noteable cause.

**Evidence**
From Log:
[code]

[code]
Done, but somehow cant get additional info as described

**Expected behavior**
HA should not crash and should show the current Power for all devices

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Home Assistant (please

[2021-06-26 09:07] bouwew commented on #179
Not plugwise related? The header shows `homeassistant.components.websocket_api.messages`.
This points to the home assistant websocket_api component.

[2021-06-26 09:13] bouwew commented on #179
This HA Core issue shows a similar message in the last post: https://github.com/home-assistant/core/issues/50905
Please add your findings to this issue.

[2021-06-30 15:52] bouwew commented on #179
Not a plugwise-related issue.

[2021-06-30 15:52] #179 closed

[2021-07-09 18:23] bouwew opened #183 "[BUG] Config_flow looks different in Core 2021.7.0"
**Describe the bug**
When manually adding the Plugwise-beta integration, this used to be shown:
![image](https://user-images.githubusercontent.com/11290930/125120848-5d2f7c80-e0f3-11eb-918e-3fcf934a40c7.png)
In Core 2021.7.0 it now looks like:
![image](https://user-images.githubusercontent.com/11290930/125120913-71737980-e0f3-11eb-9029-7044c79456c9.png)

[2021-07-12 17:42] slowfellow opened #184 "[BUG] Only 8 devices (circles) are found using the usb stick"
**Describe the bug**
Only 8 of 15 plugwise circles are detected. I have the plugwise stick installed on Raspberry PI 4b running Hassio.
I connected all 15 circles succesfully using the source software on my PC.

**Evidence**
1. Look for Errors related to plugwise-beta in Developer Tools --> Logs
Cannot find anything related so I did step nr. 2
2. If nothing found add the below to your `configurati

[2021-07-13 06:38] #183 closed

[2021-07-13 11:45] slowfellow commented on #184
Sorry, seems like the HA restart for step 2 somehow resolved this issue... can be closed.

[2021-07-13 11:45] #184 closed

[2021-07-14 17:48] slowfellow opened #185 "Please also keep track of the circle's Total Energy Usage [FEATURE]"
**Is your feature request related to a problem? Please describe.**
I would like to have insight into the energy consumption of the device over more than 1 or 2 days.. so please create this parameter.

**Describe the solution you'd like**
Since there are total power(energy) consumption (kWh) available for today and yesterday it should be possible to create a Total Consumed Energy counter out of thi

[2021-07-14 20:53] CoMPaTech commented on #185
Though it might not be fully sufficient, have you looked at https://www.home-assistant.io/integrations/utility_meter/? I don't recall the other options (within HA) but bouwew or brefra might know them top of mind, I'll check tomorrow.

[2021-07-17 10:34] bouwew commented on #185
@slowfellow In principle, plugwise-beta, the Stick-related part, should be able to show all information that is shown in Plugwise Source. I write "in principle" because there is a problem: we don't know everything about the communication between the Stick and the connected devices. We only know a part, from other people that have performed some reverse-engineer on the protocol that Plugwise has us

[2021-07-29 07:38] brefra commented on #185
@slowfellow, What should be the stating point in time of the requested total energy measurement?

From all the research I've done so far I have not seen any possibility of the existence of a total powercounter or something similar.
The devices do store the consumed (or produced) power of each hour in local memory. So the current "today" and "yesterday" sensors values are the sum of the 24 (hour) v

[2021-07-30 12:31] malosaa opened #187 "Gas usage not updated [BUG]"
Gas usage not working correctly,
I did double-check the smile p1, as i have a plugin on HomeSeer that reports the live gas usage of the p1
it receives it correct.

But here in HASS it's a different thing,
Right now the gas should update, but it did not update, when I check the history tab of this device :
P1 Gas Consumed Cumulative - sensor.p1_gas_consumed_cumulative
it shows up like this: 3.476,8

[2021-07-30 16:04] bouwew commented on #187
Please provide more information, as requested in the bug-report template.

[2021-07-31 08:18] malosaa commented on #187
Well thanks for the reply,

There is not even 1 message of that device in the log.
i checked back for 1 week.

it does not update at all, it says last changed yesterday morning when i restarted HASS.
All the other devices are working correct.

regards

[2021-07-31 08:23] bouwew commented on #187
Please kindly answer my first question.

[2021-07-31 08:35] malosaa commented on #187
I did add the code to my yaml, the log section in developer-tools --> logs not showing up..

[2021-07-31 09:18] bouwew commented on #187
Thanks for adding the info. This helps narrowing down where the bug could be in the code.
It's likely present in the backend-library plugwise.

Strange that you are not seeing any plugwise-beta debug messages. Are you looking in the correct "place" ?
You need to look at Configuration --> Logs --> LOAD FULL HA LOG.

[2021-07-31 09:33] bouwew commented on #187
After a quick check, looks like you have a legacy P1 with a firmware that is very old.
We have decided to not include support for this version of the firmware because we would need to rewrite a lot of code.

I would suggest you use this: https://bitbucket.org/jvdschoot/home-assistant-sensor-plugwise-smile-p1/src/master/plugwisesmile.py and create a custom_component using this code.

Put the above

[2021-07-31 09:38] bouwew commented on #187
See also https://bitbucket.org/jvdschoot/home-assistant-sensor-plugwise-smile-p1/src/master/README.md on how to use the custom_component in HA Core. To make this work you need to create a directory: `custom_components/plugwisesmile/`

About creating a custom_component, see here: https://aarongodfrey.dev/home%20automation/building_a_home_assistant_custom_component_part_1/

[2021-07-31 09:58] bouwew commented on #187
On a 2nd thought, we could include this code in our github, as a separate custom_component. I can quickly create a new sub-repository. Then you can easily include it via HACS. Would you prefer that?

[2021-07-31 10:15] bouwew commented on #187
Ok done, please see https://github.com/plugwise/p1_legacy

Please try installing via HACS. Let me know when something is not working.

[2021-07-31 13:04] malosaa commented on #187
Many thanks for all the help.
I will look into it,

Yes the logs don't show up, i did also try for another component and that one works.

[2021-07-31 13:15] malosaa commented on #187
Well I did install everything, I did restart.
But there is one thing, I get this error:

[code]

[2021-07-31 15:22] bouwew commented on #187
There should also be a message with more information in the FULL HOME ASSISTANT LOG, can you please have a look?

[2021-07-31 15:34] bouwew commented on #187
I've made some changes, please update to v0.0.2. Does this help?

[2021-07-31 18:12] malosaa commented on #187
I did double check the log, nothing in there, i did expand to check the full log.

getthing this now

Invalid config for [sensor.plugwise_p1_legacy]: [name] is an invalid option for [sensor.plugwise_p1_legacy]. Check: sensor.plugwise_p1_legacy->name. (See ?, line ?).

[2021-07-31 18:18] bouwew commented on #187
Thanks, let me check the code...

[2021-07-31 18:19] malosaa commented on #187
You're welcome
Well obviously without name I can't find it.

[2021-07-31 18:25] bouwew commented on #187
I think it should be something like this:
`    name: "Plugwise P1-legacy"`
The " " are required. But you can leave the name-line out as well.

Can you please try with the ""'s? What are the names of the sensors with the name-line?
Also can you try without the name-line? What are the names of the sensors then?

[2021-07-31 18:27] malosaa commented on #187
Well i did try without name, i don't find the sensors.
And like this name: "Plugwise P1-legacy" still the same error

[2021-07-31 18:29] malosaa commented on #187
this is in my yaml under sensors

[code]

[2021-07-31 18:32] bouwew commented on #187
After double-checking: remove the name-line, I'm sure now that this line is not needed.

[2021-07-31 18:33] bouwew commented on #187
I've just realized that I have done this work before, here: https://github.com/bouwew/smilep1
And that was working some time ago, almost one year ago.

[2021-07-31 18:34] bouwew commented on #187
I think I have copied over all the changes but I forgot about removing the name-line.

[2021-07-31 18:36] malosaa commented on #187
ok lets update and check again without name line

[2021-07-31 18:40] malosaa commented on #187
i checked. cant find the legacy devices.
I only find the 2 devices from the beta plugin.

[2021-07-31 18:41] bouwew commented on #187
You only need to update your yaml-code and then restart HA Core.
The password is the 8-letter Smile ID.

[2021-07-31 18:42] bouwew commented on #187
You need to remove the plugwise-beta integration, both will create the same sensors I would guess.

[2021-07-31 18:44] bouwew commented on #187
And look for "gas_consumed_cumulative" not for "p1_legacy".

[2021-07-31 18:45] malosaa commented on #187
Yes i did, i get only the old ones, right now i disabled the 2 old ones, see what happens now

[2021-07-31 18:48] bouwew commented on #187
Maybe the last sensor is called "cumulative_consumed_gas".

[2021-07-31 18:48] malosaa commented on #187
thats it, i find it.

[2021-07-31 18:49] malosaa commented on #187
PSP1 Cumulative Consumed Gas is the device

[2021-07-31 18:49] bouwew commented on #187
Good news!

Why do you only use the gas-sensors and not the electricity-sensors?

[2021-07-31 18:50] malosaa commented on #187
the electricity sensors still working with your beta version, and the gas is now working with this version

[2021-07-31 18:54] bouwew commented on #187
I strongly advise you to use the P1-legacy component also for the electricity-sensors. If you want I can change the names of the electricity sensors. That is probably clever to do anyway. But that will have to wait till tomorrow.

[2021-07-31 18:56] malosaa commented on #187
No worries, take your time, i can also change the sensor.py file locally.
I'm already really happy u did quick fix this issue.

Thanks for everything and your time !!

[2021-07-31 19:01] bouwew commented on #187
You're welcome :)

[2021-07-31 19:36] #187 closed

[2021-08-01 09:22] bouwew commented on #187
@malosaa I have released version 0.1.0b0: the `p1-legacy` custom_component now should show the same sensors as plugwise-beta.
Please test and let me know if all is OK.

[2021-08-01 11:18] malosaa commented on #187
Ok, many thanks, I will test when I'm back.

I did quickly check the code:
I  see 2 device names are incorrect, it must be: Produced_Peak_point end Consumed_Peak_Point

I'm still running both, the beta and this one, i only disabled the 2 gas devices and use these.
What i going to do when i'm home is test this version on a new system and check if it all works.

[2021-08-01 11:43] bouwew commented on #187
I've added both point-sensors, please try v0.1.0b1.

[2021-08-01 11:44] malosaa commented on #187
Thanks, i will once I'm heading home.
i let u know asap.

[2021-08-01 11:53] bouwew commented on #187
Please note the resources update:
[code]

The two net_electricity sensor that are in `plugwise-beta` were added.

[2021-08-02 15:33] malosaa commented on #187
Thanks again, sorry for the late reply
like i can see it's working.

i will test some more when i have more time,

many thanks for updating and fixing!
regards

[2021-08-02 16:10] bouwew commented on #187
No problem, I happy I'm able to help.

I have some other updates in the github develop-branch that I haven't put into a release yet. I'll wait with that until you find that the p1-legacy integration works better than plugwise-beta.

I really wonder if it works better because my experience with a P1 with that firmware is that it's quite buggy. I've seen the electricity values regularly drop to 0 fo

[2021-08-06 18:15] JeeCee1 opened #188 "Uncaught Thread Exception [BUG]"
**Describe the bug**
All my devices show "unavailable". The log has this error:

**Evidence**
[code]
No additional logs after applying `custom_components.plugwise-beta: debug.`

**Home Assistant (please complete the following information):**
 - Version: core-2021.8.2
 - Installation Type: Home Assistant OS
 - Development: false
 - Installed plugwise version: 'plugwise-beta 0.17.0a0
 - Installed th

[2021-08-07 14:22] malosaa opened #189 "[BUG] No matching statistics found (last HA update)"
Hi Bouwe,

I don't know if this is an bug or its not supported yet.
But after i upgraded to last HA i see the new energy tab.
When i want to add the energy source its not showing up anything.
only this: No matching statistics found

Any idea why?
Or is it not supported yet.

//update
check from here, i think you as the developer need to report it
this video is from the livestream of the new releas

[2021-08-07 15:41] bouwew commented on #189
Yes, working on it. You can enable "show beta" in HACS, you should see v0.17.0a2 or higher, please test that version.

[2021-08-07 15:44] bouwew commented on #188
Please try v0.17.a3 (enable Show Beta on HACS).

[2021-08-07 15:55] malosaa commented on #189
ok ill do now

[2021-08-07 16:01] malosaa commented on #189
Ok, i see some of them in the list,

to test out, what one do i need to select for consumption, return, and solar panels?
Because i think the POINT device is the one who gives the actual consume, but not sure if thats the one to use in here, its not in the list.

[2021-08-07 16:02] bouwew commented on #189
Wait, you would want this for the P1-legacy integration, correct?

[2021-08-07 16:03] malosaa commented on #189
On this device i'm on the last plugwise-beta not the legacy, thats on my other device.

[2021-08-07 16:03] bouwew commented on #189
For HA Energy use the cumulative sensors. Those are working for me.
I have also added some interval-sensors but they don't seem to work.

[2021-08-07 16:05] bouwew commented on #189
But, you'll need to wait at least one hour before there is anything visible in the graph.
This is a part of my graph:
![image](https://user-images.githubusercontent.com/11290930/128606370-d5d4df34-edd4-415c-99ee-f0427669cde4.png)

[2021-08-07 16:07] malosaa commented on #189
yes thats no problem, right now i don't know what one to choose.
Does it change automatically to peak and offpeak, there is also a device called: sensor.p1_net_electricity_cumulative
is that the one to use for consumption right?

[2021-08-07 16:08] bouwew commented on #189
No, you should use the cumulative_peak and _off_peak sensors, nothing else.

[2021-08-07 16:10] bouwew commented on #189
And you should separate between consumption and production, so use in total 4 cumulative sensor when you also have production and are exporting energy to the grid.

[2021-08-07 16:11] malosaa commented on #189
aah yes i see u can add both.

well i guess for solar panels i need to use an other device right?

[2021-08-07 16:12] bouwew commented on #189
The net-sensor sums: (consumption - production), for people that want to know the net_cumulative number.
But this one is not useful in HA Core Energy.

[2021-08-07 16:13] bouwew commented on #189
There is a trick you can use:

Put this in configuration.yaml:
[code]

[2021-08-07 16:14] bouwew commented on #189
You will need to change the `sensor.*_energy` part.

[2021-08-07 16:16] bouwew commented on #189
Make sure to let me know if it works for you, the plugwise-beta v0.17.0a4 version.
I need positive feedback from several users before I make it into a formal release.

[2021-08-07 16:17] malosaa commented on #189
yeah i did that, sadly it doesnt work with utility_meter:

i did make it like this and it works good aswell:

template:
  - sensor:
    - name: lol_energy
      state: "{{ states('sensor.my_plant_total_output_power') }}"
      unit_of_measurement: 'kWh'
      state_class: measurement
      device_class: energy

[2021-08-07 16:19] malosaa commented on #189
I must say it works good,
i will restart now and check everything and i report back

[2021-08-07 16:21] malosaa commented on #189
Well i did a restart, everything (electricity) shows up fine,
i will report back once i got some bars up and running.

Many thanks for this awsome support and quick fix!!

[2021-08-07 18:16] malosaa commented on #189
its 2 hours ago, still no graph here.

regards

[2021-08-07 18:20] malosaa commented on #189
![image](https://user-images.githubusercontent.com/13116501/128610307-b5b219a0-0698-43e4-aa2d-23e2289c5483.png)

[2021-08-07 20:05] malosaa commented on #189
still nothing,
this is how i did set it up

![image](https://user-images.githubusercontent.com/13116501/128612632-45b7a814-0852-498a-a37c-6e2d5588c5d8.png)

[2021-08-07 20:25] JeeCee1 commented on #188
Hoi Bouwe,
Bedankt voor je snelle reactie!

It works now, although some device now report “unavailable ” even after a few hours after updating.
I will let it run overnight and see what happens.
Thanks again!

On 7. Aug 2021, at 17:44, Bouwe Westerdijk ***@***.***> wrote:

﻿

Please try v0.17.a3 (enable Show Beta on HACS).

—
You are receiving this because you authored the thread.
Reply to this ema

[2021-08-08 06:58] bouwew commented on #188
You could try removing the Integration, restarting HA and then re-adding the Integration, that worked for me yesterday.

[2021-08-08 07:40] JeeCee1 commented on #188
They nicely recovered by themselves, thanks again for the great quick support!